# BasketBall Stats Database Manual

# <font color='red'> Imports needed for Database </font>

In [1]:
# Imports needed for testing the visualization of queries and expected output
import pyodbc
import pymysql
import sqlalchemy as sal
from sqlalchemy import create_engine
import pandas as pd
import pathlib
import sys
import os

# Add path for imports 
sys.path.append(str(pathlib.Path().absolute().parent) +'\\Python Scripts')
sys.path.append(str(pathlib.Path().absolute().parent) +'\\Python Scripts' + '\\Call_Queries')
sys.path.append(str(pathlib.Path().absolute().parent) +'\\Python Scripts' + '\\Queries')
sys.path.append(str(pathlib.Path().absolute().parent) +'\\Python Scripts' + '\\Queries_Test')

# print the sys paths
sys.path

['C:\\Users\\Bryan\\Desktop\\Basketball-Stats\\Database\\Jupyter Notebook',
 'C:\\Users\\Bryan\\anaconda3\\python38.zip',
 'C:\\Users\\Bryan\\anaconda3\\DLLs',
 'C:\\Users\\Bryan\\anaconda3\\lib',
 'C:\\Users\\Bryan\\anaconda3',
 '',
 'C:\\Users\\Bryan\\anaconda3\\lib\\site-packages',
 'C:\\Users\\Bryan\\Desktop\\Basketball-Stats\\Web_Scrapers\\Python_Scrapers',
 'C:\\Users\\Bryan\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\Bryan\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\Bryan\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\Bryan\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Bryan\\.ipython',
 'C:\\Users\\Bryan\\Desktop\\Basketball-Stats\\Database\\Python Scripts',
 'C:\\Users\\Bryan\\Desktop\\Basketball-Stats\\Database\\Python Scripts\\Call_Queries',
 'C:\\Users\\Bryan\\Desktop\\Basketball-Stats\\Database\\Python Scripts\\Queries',
 'C:\\Users\\Bryan\\Desktop\\Basketball-Stats\\Database\\Python Scripts\\Queries_Test']

# Tables of Contexts 
## <font color='black'>1. Phase 2 Overview </font>

## <font color='black'>2. Database Information </font>

## <font color='black'>3. Python Scripts </font>

## <font color='black'>4. SQL Scripts </font>

# <font color='red'>Phase 2 Overview: Storing and Retrieving the Data</font>


## Python Moduels/ Libraries 
For <b>Phase Two</b> of this project, these are the following modules needed to run each of the programs.
```
lxml==4.6.2
pandas==1.2.2
pymysql==1.0.2
pyodbc==4.0.30
sqlalchemy==1.3.23
```

# <font color='red'>Database Information</font>

## Database Tables

### `Season`
<strong>Primary Key:</strong> 
- `Season_ID`<br>

<strong>Foreign Key:</strong><br> 
- `None`

<strong>Check Constraints:</strong><br>
- `Season_ID` BETWEEN 1980 and 2021

<strong>NULL Constraints:</strong><br>
- `Season_ID`

<strong>Columns:</strong><br>
- `Season_ID`: A INT that cannot be NULL that represents the a given year

### `Team`
<strong>Primary Key:</strong>
- `Season_ID`<br>
- `Team_ID`<br>

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Season(Season_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 and 2021<br>
- `Team_ID` BETWEEN 1 and 31<br>

<strong>NULL Constraints:</strong>
 

<strong>Columns:</strong>
- `Season_ID`: A INT that represents a given year<br>
- `Team_ID`:   A INT that represents a team<br>
- `Team_Name`: A VARCHAR of length 45 for a team's name<br>
- `Team_ABV`:  A VARCHAR of length 3 that represents a abbreviation for a team's name<br>

### `Player`
<strong>Primary Key:</strong>
- `Player_ID`<br>

<strong>Foreign Key:</strong>
- `None`<br>

<strong>Check Constraints:</strong> 
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>
- `Player_ID`<br>
- `Birth_Date`<br>
- `Player_Name`<br>

<strong>Columns:</strong>
- `Player_ID`:   A INT that represents a player<br>
- `Birth_Date`:  A DATE that represents a player's date of birth<br>
- `Player_Name`: A VARCHAR of length 45 that is a string that represents a player's name<br>

### `Conference_Standings`
<strong>Primary Key:</strong>
- `Season_ID`<br>
- `Team_ID`<br>

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Team(Season_ID)<br>
- `Team_ID` REFERENCES Team(Team_ID)<br>

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021<br>
- `Team_ID` BETWEEN 1 and 31

<strong>NULL Constraints:</strong>
- `Season_ID`<br> 				
- `Team_ID`<br>		
- `Team_ABV`<br>				
- `Team_Name`<br>			
- `Wins`<br>			
- `Loses`<br>				  
- `Win_Lose_Percentage`<br> 	 
- `Games_Behind`<br>    
- `Points_Per_Game`<br>		  
- `Opponents_Points_Per_Game`<br> 
- `Simple_Rating_System`<br>
- `East_Or_West`<br>

<strong>Columns:</strong>
- `Season_ID`:                 A INT that represents a given year<br> 				
- `Team_ID`:                   A INT that represents a team<br>		
- `Team_ABV`	               A VARCHAR of length 3 that represents a abbreviation for a team's name<br>
- `Team_Name`:		           A VARCHAR of length 45 that represents a team name<br>
- `Wins`:			           A INT that represents the amount of wins for a team<br>
- `Loses`:		               A INT that represents the amount of losses for a team<br>
- `Win_Lose_Percentage`:       A FLOAT that represents the percentage of wins/losess<br> 	 
- `Games_Behind`:              A VARCHAR of length 4 that represents the amount of games behind the number one team<br>    
- `Points_Per_Game`:	       A FLOAT that represents the amount of points per games for a given team<br>
- `Opponents_Points_Per_Game`: A FLOAT that represents a opponents amount of points agaist a given team<br>
- `Simple_Rating_System`:      A FLOAT is the team rating determined by average point differential and strength of schedule<br>
- `East_Or_West`:              A BOOLEAN that represent East or Western Conference<br>

### `Roster`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`
- `Player_ID`

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Team(Season_ID)
- `Team_ID` REFERENCES Team(Team_ID)
- `Player_ID` REFERENCES Player(Player_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>
- `Season_ID`           
- `Team_ID`             
- `Player_ID`           
- `Team_ABV`            
- `Team_Name`       
- `Player_Number`       
- `Player_Name`        
- `Player_Postion`     
- `Player_Height`       
- `Player_Weight`    
- `Birth_Date`          
- `Player_Nationality`  
- `Player_Experience`  
- `Player_College_Name`

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Player_ID`            A UNIQUE INT that represents a player
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Player_Number`        A VARCHAR of length 45 that represents a player's number
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Postion`       A VARCHAR that represents a player's postion in basketball
- `Player_Height`        A VARCHAR of length 4 that represents a player's height, formated like 6-10
- `Player_Weight`        A INT that represents a player's weight 
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Nationality`   A VARCHAR of length 3 that represents a countries abbreviation
- `Player_Experience`:   A VARCHAR of length 2 that represents the amount of years a player has been in the NBA
- `Player_College_Name`: A VARCHAR of length 100 that represents a college's name

### `Team_Stats`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Team(Season_ID)
- `Team_ID` REFERENCES Team(Team_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31

<strong>NULL Constraints:</strong>
- `Season_ID`           
- `Team_ID`             
- `Team_ABV`         
- `Team_Name` 

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name

### `Team_Advanced`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Team_Stats(Season_ID)
- `Team_ID` REFERENCES Team_Stats(Team_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31

<strong>NULL Constraints:</strong>
- `Season_ID`           		 
- `Team_ID`             		
- `Team_ABV`                    
- `Team_Name`                   
- `Team_Wins`                    
- `Team_Loses`                    
- `Win_Lose_Percentage`           
- `Simple_Rating_System`          
- `Pace`                          
- `Relative_Pace`               
- `Offensive_Rating`              
- `Relative_Offensive_Rating`    
- `Defensive_Rating`             
- `Relative_Defensive_Rating`     

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Team_Wins`            A INT that represents a team's wins for a given year      
- `Team_Loses`           A INT that represents a team's loses for a given year
- `Win_Lose_Percentage`  A FLOAT that represents a team's win/loses percentage    
- `Simple_Rating_System` A FLOAT that represents a team rating determined by average point differential and strength of schedule
- `Pace`                 A FLOAT that represents an estimates of possessions per 48 minutes        
- `Relative_Pace`        A FLOAT that represents an estimate of a team's possessions per 48 minutes relative to the league
- `Offensive_Rating`     A FLOAT that represents an estimate of points scored per 100 possessions by a team
- `Relative_Offensive_Rating` A FLOAT that represents a team's offensive rating relative to the league
- `Defensive_Rating`          A FLOAT that represents an estimate of points allowed per 100 possessions by a team
- `Relative_Defensive_Rating` A FLOAT that represents a team's defensive rating relative to the league

### `Team_Misc`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Team_Stats(Season_ID)
- `Team_ID` REFERENCES Team_Stats(Team_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31

<strong>NULL Constraints:</strong>
- `Season_ID`           		  
- `Team_ID`             		 
- `Team_ABV`                   
- `Team_Name`                     
- `Team_Average_Age`              
- `Team_Wins`                  
- `Team_Loses`                
- `Pythagorean_Wins`            
- `Pythagorean_Loses`            
- `Margin_Of_Victory`             
- `Strength_Of_Schedule`         
- `Simple_Rating_System`          
- `Offensive_Rating`             
- `Defensive_Rating`             
- `Net_Rating`                    
- `Pace`                          
- `Free_Throw_Attempt_Rate`     
- `Three_Point_Attempt_Rate`      
- `True_Shooting_Percentage`      
- `Offensive_Rebound_Percentage` 
- `Defensive_Rebound_Percentage`  
- `Arena`                         
- `Attend`                        
- `Attend_Per_Game`              
            
<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Team_Wins`            A INT that represents a team's wins for a given year
- `Team_Average_Age`     A FLOAT is the average age of the player
- `Pythagorean_Wins`     A FLOAT that represents the Pythagorean wins or expected wins based on points scored and allowed   
- `Pythagorean_Loses`    A FLOAT that represents the Pythagorean loses or expected wins based on points scored and allowed
- `Margin_Of_Victory`    A FLOAT that represents the difference between the number of points scored by the winning team and the number of points scored by the losing team         
- `Strength_Of_Schedule` A FLOAT that represents is the Strength of Schedule, a rating of how hard a schedule is      
- `Simple_Rating_System` A FLOAT that represents the team rating that takes into account average point differential and strength of schedule         
- `Offensive_Rating`     A FLOAT that represents an estimate of points scored per 100 possessions by a team            
- `Defensive_Rating`     A FLOAT that represents an estimate of points allowed per 100 possessions by a team      
- `Net_Rating`           A FLOAT that represents an estimate of points differential per 100 possessions             
- `Pace`                 A FLOAT that represents an estimate of possessions per 48 minutes         
- `Free_Throw_Attempt_Rate`  A FLOAT that represents the number of FT Attempts per FG Attempt    
- `Three_Point_Attempt_Rate` A FLOAT that represents the number of percentage of FG Attempts from 3-Point Range
- `True_Shooting_Percentage` A FLOAT that represents is the measurement of shooting efficiency
- `Offensive_Rebound_Percentage` A FLOAT that represents is an estimated percentage of available offensive rebounds a player takes when in game
- `Defensive_Rebound_Percentage` A FLOAT that represents is an estimated percentage of available defensive rebounds a player takes when in game   
- `Arena` A VARCHAR of length 45 that represents the Area name for the team                       
- `Attend` A INT that represents the total amount of people that attend                    
- `Attend_Per_Game` A INT that represents the amount of people per game

### `Team_Per_Game`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Team_Stats(Season_ID)
- `Team_ID` REFERENCES Team_Stats(Team_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31

<strong>NULL Constraints:</strong>
- `Season_ID`           		  
- `Team_ID`             		 
- `Team_ABV`                   
- `Team_Name`  
- `Games_Played`       	            
- `Minutes_Played`         
- `Field_Goals_Made`               
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`         
- `Three_Points_Made`              
- `Three_Points_Attempted`          
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`            
- `Two_Points_Percentage`          
- `Free_Throws_Made`                
- `Free_Throws_Attempted`           
- `Free_Throws_Percentage`          
- `Offensive_Rebound`               
- `Defensive_Rebound`               
- `True_Rebounds`                   
- `Assists`                         
- `Steals`                          
- `Blocks`                       
- `Turn_Over`                       
- `Personal_Foul`                
- `Points`                       
- `Opponent` 

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Games_Played`       	 A INT is the amount of games the player played          
- `Minutes_Played`       A INT is the amount of minutes the player played  
- `Field_Goals_Made`        A FLOAT that represents is the amount Field Goals made      
- `Field_Goals_Attempted`   A FLOAT that represents is the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents is the percentage of Field Goals Made / Field Goals Attempted       
- `Three_Points_Made`       A FLOAT that represents is the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents is the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents is the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`        A FLOAT that represents is the amount of 2 Point Made          
- `Two_Points_Attempted`   A FLOAT that represents is the amount of 2 Points Attempted         
- `Two_Points_Percentage`  A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped        
- `Free_Throws_Made`       A FLOAT that represents is the amount of Free Throws Made        
- `Free_Throws_Attempted`  A FLOAT that represents is the amount of Free Throws Attempted         
- `Free_Throws_Percentage` A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted        
- `Offensive_Rebound` A FLOAT that represents is the amount of Offensive Rebound             
- `Defensive_Rebound` A FLOAT that represents is the amount of Defensive Rebound               
- `True_Rebounds` A FLOAT that represents is the amount of Rebound                   
- `Assists`   A FLOAT that represents is the amount of Assist                     
- `Steals`    A FLOAT that represents is the amount of Steals                      
- `Blocks`    A FLOAT that represents is the amount of Blocks               
- `Turn_Over` A FLOAT that represents the amount of turn overs                       
- `Personal_Foul` A FLOAT that represents the amount of Personal Fouls  
- `Points`   A FLOAT that represents the amount of Points Scored                
- `Opponent` A BOOLEAN that represents if it opponent averages or the team's averages

### `Team_Per_Poss`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Team_Stats(Season_ID)
- `Team_ID` REFERENCES Team_Stats(Team_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31

<strong>NULL Constraints:</strong>
- `Season_ID`           		  
- `Team_ID`             		 
- `Team_ABV`                   
- `Team_Name`  
- `Games_Played`       	            
- `Minutes_Played`         
- `Field_Goals_Made`               
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`         
- `Three_Points_Made`              
- `Three_Points_Attempted`          
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`            
- `Two_Points_Percentage`          
- `Free_Throws_Made`                
- `Free_Throws_Attempted`           
- `Free_Throws_Percentage`          
- `Offensive_Rebound`               
- `Defensive_Rebound`               
- `True_Rebounds`                   
- `Assists`                         
- `Steals`                          
- `Blocks`                       
- `Turn_Over`                       
- `Personal_Foul`                
- `Points`                       
- `Opponent` 

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Games_Played`       	 A INT is the amount of games the player played          
- `Minutes_Played`       A INT is the amount of minutes the player played  
- `Field_Goals_Made`        A FLOAT that represents is the amount Field Goals made      
- `Field_Goals_Attempted`   A FLOAT that represents is the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents is the percentage of Field Goals Made / Field Goals Attempted       
- `Three_Points_Made`       A FLOAT that represents is the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents is the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents is the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`        A FLOAT that represents is the amount of 2 Point Made          
- `Two_Points_Attempted`   A FLOAT that represents is the amount of 2 Points Attempted         
- `Two_Points_Percentage`  A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped        
- `Free_Throws_Made`       A FLOAT that represents is the amount of Free Throws Made        
- `Free_Throws_Attempted`  A FLOAT that represents is the amount of Free Throws Attempted         
- `Free_Throws_Percentage` A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted        
- `Offensive_Rebound` A FLOAT that represents is the amount of Offensive Rebound             
- `Defensive_Rebound` A FLOAT that represents is the amount of Defensive Rebound               
- `True_Rebounds` A FLOAT that represents is the amount of Rebound                   
- `Assists`   A FLOAT that represents is the amount of Assist                     
- `Steals`    A FLOAT that represents is the amount of Steals                      
- `Blocks`    A FLOAT that represents is the amount of Blocks               
- `Turn_Over` A FLOAT that represents the amount of turn overs                       
- `Personal_Foul` A FLOAT that represents the amount of Personal Fouls  
- `Points`   A FLOAT that represents the amount of Points Scored                
- `Opponent` A BOOLEAN that represents if it opponent averages or the team's averages

### `Team_Totals`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Team_Stats(Season_ID)
- `Team_ID` REFERENCES Team_Stats(Team_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31

<strong>NULL Constraints:</strong>
- `Season_ID`           		  
- `Team_ID`             		 
- `Team_ABV`                   
- `Team_Name`  
- `Games_Played`       	            
- `Minutes_Played`         
- `Field_Goals_Made`               
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`         
- `Three_Points_Made`              
- `Three_Points_Attempted`          
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`            
- `Two_Points_Percentage`          
- `Free_Throws_Made`                
- `Free_Throws_Attempted`           
- `Free_Throws_Percentage`          
- `Offensive_Rebound`               
- `Defensive_Rebound`               
- `True_Rebounds`                   
- `Assists`                         
- `Steals`                          
- `Blocks`                       
- `Turn_Over`                       
- `Personal_Foul`                
- `Points`                       
- `Opponent` 

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Games_Played`       	 A INT is the amount of games the player played          
- `Minutes_Played`       A INT is the amount of minutes the player played  
- `Field_Goals_Made`        A FLOAT that represents is the amount Field Goals made      
- `Field_Goals_Attempted`   A FLOAT that represents is the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents is the percentage of Field Goals Made / Field Goals Attempted       
- `Three_Points_Made`       A FLOAT that represents is the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents is the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents is the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`        A FLOAT that represents is the amount of 2 Point Made          
- `Two_Points_Attempted`   A FLOAT that represents is the amount of 2 Points Attempted         
- `Two_Points_Percentage`  A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped        
- `Free_Throws_Made`       A FLOAT that represents is the amount of Free Throws Made        
- `Free_Throws_Attempted`  A FLOAT that represents is the amount of Free Throws Attempted         
- `Free_Throws_Percentage` A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted        
- `Offensive_Rebound` A FLOAT that represents is the amount of Offensive Rebound             
- `Defensive_Rebound` A FLOAT that represents is the amount of Defensive Rebound               
- `True_Rebounds` A FLOAT that represents is the amount of Rebound                   
- `Assists`   A FLOAT that represents is the amount of Assist                     
- `Steals`    A FLOAT that represents is the amount of Steals                      
- `Blocks`    A FLOAT that represents is the amount of Blocks               
- `Turn_Over` A FLOAT that represents the amount of turn overs                       
- `Personal_Foul` A FLOAT that represents the amount of Personal Fouls  
- `Points`   A FLOAT that represents the amount of Points Scored                
- `Opponent` A BOOLEAN that represents if it opponent averages or the team's averages

### `Player_Stats`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`
- `Player_ID`

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Team(Season_ID)
- `Team_ID` REFERENCES Team(Team_ID)
- `Player_ID` REFERENCES Player(Player_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>
- `Season_ID`           
- `Team_ID`             
- `Player_ID`           
- `Team_ABV`            
- `Team_Name`
- `Birth_Date`
- `Player_Name`

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Player_ID`            A UNIQUE INT that represents a player
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name

### `Player_Advanced`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`
- `Player_ID`
- `Stat_Form` 

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Player_Stats(Season_ID)
- `Team_ID` REFERENCES Player_Stats(Team_ID)
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>
- `Season_ID`           
- `Team_ID`             
- `Player_ID`           
- `Team_ABV`            
- `Team_Name`
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Minutes_Played`            
- `Per_Minute_Production`       
- `True_Shooting_Percent`       
- `Three_Points_Attempted`     
- `Free_Throws_Per_Field_Goals`  
- `Offensive_Rebound_Percentage` 
- `Defensive_Rebound_Percentage` 
- `True_Rebounds_Percentage`     
- `Assit_Percentage`             
- `Steal_Percentage`            
- `Block_Percentage`              
- `Turn_Over_Percentage`          
- `Usage_Percentage`              
- `Offensive_Win_Shares`          
- `Defensive_Win_Shares`           
- `Win_Shares`                    
- `Win_Shares_Fourty_Eight`       
- `Offensive_Box_Score`           
- `Defensive_Box_Score`           
- `Box_Plus_Minus`                
- `Value_Over_Replacement`        
- `Stat_Form`                    

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Player_ID`            A UNIQUE INT that represents a player
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Per_Minute_Production`  A FLOAT that represents is the measurment of a player's per-minute production      
- `True_Shooting_Percent`  A FLOAT that represents is the measurement of shooting efficiency     
- `Three_Points_Attempted` A FLOAT that represents is the percentage of FG Attempts from the 3 Point line      
- `Free_Throws_Per_Field_Goals`  A FLOAT that represents is the number of FT Attempts per Field Goal Attempts  
- `Offensive_Rebound_Percentage` A FLOAT that represents is an estimated percentage of available offensive rebounds a player takes when in game  
- `Defensive_Rebound_Percentage` A FLOAT that represents is an estimated percentage of available defensive rebounds a player takes when in game 
- `True_Rebounds_Percentage` A FLOAT that represents is an estimated percentage of available  rebounds a player takes when in game
- `Assit_Percentage` A FLOAT that represents is an estimated percentage of teammate Field Goals a palyer assited while in game 
- `Steal_Percentage` A FLOAT that represents is an estimate percentage of opponent possessions that end with a steal by player while in game             
- `Block_Percentage` A FLOAT that represents is an estimate of the percentage of opponent Field Goal Attempts blocked by player while in game              
- `Turn_Over_Percentage` A FLOAT that represents is an estimate of turnovers commited per 100 plays          
- `Usage_Percentage`     A FLOAT that represents is an estimate of percentage of team plays used by a player while in game     
- `Offensive_Win_Shares` A FLOAT that represents is an estimate of the number of wins contributed by a player due to his offense         
- `Defensive_Win_Shares` A FLOAT that represents is an estimate of the number of wins contributed by a player due to his defense            
- `Win_Shares`           A FLOAT that represents is an estimate of the number of wins contributed by a player          
- `Win_Shares_Fourty_Eight` A FLOAT that represents is an estimate of the number of wins contributed by a player per 48 minute 
- `Offensive_Box_Score`     A FLOAT that represents is a box score estimate of the offensive points per 100 possessions a player contributed      
- `Defensive_Box_Score`     A FLOAT that represents is a box score estimate of the defensive points per 100 possessions a player contributed      
- `Box_Plus_Minus`          A FLOAT that represents is a box score estimate of the points per 100 possessions a player contributed      
- `Value_Over_Replacement`  A FLOAT that represents is a box score estimate of the points per 100 Team possessions that a play contributed       
- `Stat_Form`               A BOOLEAN that represents if the format is a playoffs or regular

### `Player_Per_Game`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`
- `Player_ID`
- `Stat_Form` 

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Player_Stats(Season_ID)
- `Team_ID` REFERENCES Player_Stats(Player_ID)
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>
- `Season_ID`           
- `Team_ID`             
- `Player_ID`           
- `Team_ABV`            
- `Team_Name`
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Games_Started`
- `Minutes_Played`   
- `Field_Goals_Made`                
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`          
- `Three_Points_Made`             
- `Three_Points_Attempted`         
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`          
- `Two_Points_Percentage`           
- `Effective_Field_Goal_Percentage`
- `Free_Throws_Made`                
- `Free_Throws_Attempted`          
- `Free_Throws_Percentage`        
- `Offensive_Rebounds`            
- `Defensive_Rebounds`              
- `True_Rebounds`                  
- `Assists`                       
- `Steals`                         
- `Blocks`                        
- `Turn_Over`                    
- `Personal_Fouls`                 
- `Points`                         
- `Stat_Form`  

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Player_ID`            A UNIQUE INT that represents a player
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Games_Started`        A INT that represents the amount of games the player started
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Field_Goals_Made`        A FLOAT that represents the amount Field Goals made          
- `Field_Goals_Attempted`   A FLOAT that represents the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents the percentage of Field Goals Made / Field Goals Attempted         
- `Three_Points_Made`       A FLOAT that represents the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`         A FLOAT that represents the amount of 2 Point Made        
- `Two_Points_Attempted`    A FLOAT that represents is the amount of 2 Points Attempted      
- `Two_Points_Percentage`   A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped       
- `Effective_Field_Goal_Percentage` A FLOAT that represents is the stat that adjusts field goal percentage to account for the fact that three-point field goals count for three points while field goals only count for two points
- `Free_Throws_Made`                A FLOAT that represents is the amount of Free Throws Made
- `Free_Throws_Attempted`           A FLOAT that represents is the amount of Free Throws Attempted
- `Free_Throws_Percentage`          A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted
- `Offensive_Rebounds`              A FLOAT that represents is the amount of Offensive Rebound
- `Defensive_Rebounds`              A FLOAT that represents is the amount of Defensive Rebound 
- `True_Rebounds`                   A FLOAT that represents is the amount of Rebound
- `Assists`                         A FLOAT that represents is the amount of Assist
- `Steals`                          A FLOAT that represents is the amount of Steals
- `Blocks`                          A FLOAT that represents is the amount of Blocks
- `Turn_Over`                       A FLOAT that represents is the amount of Turn Overs
- `Personal_Fouls`                  A FLOAT that represents is the amount of Personal Fouls
- `Points`                          A FLOAT that represents is the amount of Points Scored
- `Stat_Form`                       A BOOLEAN that represents if the format is playoffs or regular season

### `Player_Per_Minute`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`
- `Player_ID`
- `Stat_Form`

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Player_Stats(Season_ID)
- `Team_ID` REFERENCES Player_Stats(Player_ID)
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>
- `Season_ID`           
- `Team_ID`             
- `Player_ID`           
- `Team_ABV`            
- `Team_Name`
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Games_Started`
- `Minutes_Played`   
- `Field_Goals_Made`                
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`          
- `Three_Points_Made`             
- `Three_Points_Attempted`         
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`          
- `Two_Points_Percentage`           
- `Free_Throws_Made`                
- `Free_Throws_Attempted`          
- `Free_Throws_Percentage`        
- `Offensive_Rebounds`            
- `Defensive_Rebounds`              
- `True_Rebounds`                  
- `Assists`                       
- `Steals`                         
- `Blocks`                        
- `Turn_Over`                    
- `Personal_Fouls`                 
- `Points`                         
- `Stat_Form`  

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Player_ID`            A UNIQUE INT that represents a player
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Games_Started`        A INT that represents the amount of games the player started
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Field_Goals_Made`        A FLOAT that represents the amount Field Goals made          
- `Field_Goals_Attempted`   A FLOAT that represents the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents the percentage of Field Goals Made / Field Goals Attempted         
- `Three_Points_Made`       A FLOAT that represents the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`         A FLOAT that represents the amount of 2 Point Made        
- `Two_Points_Attempted`    A FLOAT that represents is the amount of 2 Points Attempted      
- `Two_Points_Percentage`   A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped       
- `Free_Throws_Made`                A FLOAT that represents is the amount of Free Throws Made
- `Free_Throws_Attempted`           A FLOAT that represents is the amount of Free Throws Attempted
- `Free_Throws_Percentage`          A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted
- `Offensive_Rebounds`              A FLOAT that represents is the amount of Offensive Rebound
- `Defensive_Rebounds`              A FLOAT that represents is the amount of Defensive Rebound 
- `True_Rebounds`                   A FLOAT that represents is the amount of Rebound
- `Assists`                         A FLOAT that represents is the amount of Assist
- `Steals`                          A FLOAT that represents is the amount of Steals
- `Blocks`                          A FLOAT that represents is the amount of Blocks
- `Turn_Over`                       A FLOAT that represents is the amount of Turn Overs
- `Personal_Fouls`                  A FLOAT that represents is the amount of Personal Fouls
- `Points`                          A FLOAT that represents is the amount of Points Scored
- `Stat_Form`                       A BOOLEAN that represents if the format is playoffs or regular season

### `Player_Per_Poss`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`
- `Player_ID`
- `Stat_Form` 

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Player_Stats(Season_ID)
- `Team_ID` REFERENCES Player_Stats(Player_ID)
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>
- `Season_ID`           
- `Team_ID`             
- `Player_ID`           
- `Team_ABV`            
- `Team_Name`
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Games_Started`
- `Minutes_Played`   
- `Field_Goals_Made`                
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`          
- `Three_Points_Made`             
- `Three_Points_Attempted`         
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`          
- `Two_Points_Percentage`           
- `Free_Throws_Made`                
- `Free_Throws_Attempted`          
- `Free_Throws_Percentage`        
- `Offensive_Rebounds`            
- `Defensive_Rebounds`              
- `True_Rebounds`                  
- `Assists`                       
- `Steals`                         
- `Blocks`                        
- `Turn_Over`                    
- `Personal_Fouls`                 
- `Points`                         
- `Stat_Form`  
- `Drtg`
- `Ortg`

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Player_ID`            A UNIQUE INT that represents a player
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Games_Started`        A INT that represents the amount of games the player started
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Field_Goals_Made`        A FLOAT that represents the amount Field Goals made          
- `Field_Goals_Attempted`   A FLOAT that represents the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents the percentage of Field Goals Made / Field Goals Attempted         
- `Three_Points_Made`       A FLOAT that represents the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`         A FLOAT that represents the amount of 2 Point Made        
- `Two_Points_Attempted`    A FLOAT that represents is the amount of 2 Points Attempted      
- `Two_Points_Percentage`   A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped       
- `Free_Throws_Made`                A FLOAT that represents is the amount of Free Throws Made
- `Free_Throws_Attempted`           A FLOAT that represents is the amount of Free Throws Attempted
- `Free_Throws_Percentage`          A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted
- `Offensive_Rebounds`              A FLOAT that represents is the amount of Offensive Rebound
- `Defensive_Rebounds`              A FLOAT that represents is the amount of Defensive Rebound 
- `True_Rebounds`                   A FLOAT that represents is the amount of Rebound
- `Assists`                         A FLOAT that represents is the amount of Assist
- `Steals`                          A FLOAT that represents is the amount of Steals
- `Blocks`                          A FLOAT that represents is the amount of Blocks
- `Turn_Over`                       A FLOAT that represents is the amount of Turn Overs
- `Personal_Fouls`                  A FLOAT that represents is the amount of Personal Fouls
- `Points`                          A FLOAT that represents is the amount of Points Scored
- `Stat_Form`                       A BOOLEAN that represents if the format is playoffs or regular season
- `Drtg` A FLOAT that represents the amount of points allowed per 100 posessions
- `Ortg` A FLOAT that represents the amount of points scored per 100 possessions

### `Player_Totals`
<strong>Primary Key:</strong>
- `Season_ID`
- `Team_ID`
- `Player_ID`
- `Stat_Form` 

<strong>Foreign Key:</strong>
- `Season_ID` REFERENCES Player_Stats(Season_ID)
- `Team_ID` REFERENCES Player_Stats(Player_ID)
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>
- `Season_ID`           
- `Team_ID`             
- `Player_ID`           
- `Team_ABV`            
- `Team_Name`
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Games_Started`
- `Minutes_Played`   
- `Field_Goals_Made`                
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`          
- `Three_Points_Made`             
- `Three_Points_Attempted`         
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`          
- `Two_Points_Percentage`           
- `Free_Throws_Made`                
- `Free_Throws_Attempted`          
- `Free_Throws_Percentage`        
- `Offensive_Rebounds`            
- `Defensive_Rebounds`              
- `True_Rebounds`                  
- `Assists`                       
- `Steals`                         
- `Blocks`                        
- `Turn_Over`                    
- `Personal_Fouls`                 
- `Points`                         
- `Stat_Form`  
- `Trp_Dbl`

<strong>Columns:</strong>
- `Season_ID`            A UNIQUE INT that represents a given year
- `Team_ID`              A UNIQUE INT that represents a team
- `Player_ID`            A UNIQUE INT that represents a player
- `Team_ABV`             A VARCHAR of length 3 that represents a abbreviation for a team's name
- `Team_Name`            A VARCHAR of length 45 that represents a team's name 
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Games_Started`        A INT that represents the amount of games the player started
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Field_Goals_Made`        A FLOAT that represents the amount Field Goals made          
- `Field_Goals_Attempted`   A FLOAT that represents the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents the percentage of Field Goals Made / Field Goals Attempted         
- `Three_Points_Made`       A FLOAT that represents the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`         A FLOAT that represents the amount of 2 Point Made        
- `Two_Points_Attempted`    A FLOAT that represents is the amount of 2 Points Attempted      
- `Two_Points_Percentage`   A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped       
- `Free_Throws_Made`                A FLOAT that represents is the amount of Free Throws Made
- `Free_Throws_Attempted`           A FLOAT that represents is the amount of Free Throws Attempted
- `Free_Throws_Percentage`          A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted
- `Offensive_Rebounds`              A FLOAT that represents is the amount of Offensive Rebound
- `Defensive_Rebounds`              A FLOAT that represents is the amount of Defensive Rebound 
- `True_Rebounds`                   A FLOAT that represents is the amount of Rebound
- `Assists`                         A FLOAT that represents is the amount of Assist
- `Steals`                          A FLOAT that represents is the amount of Steals
- `Blocks`                          A FLOAT that represents is the amount of Blocks
- `Turn_Over`                       A FLOAT that represents is the amount of Turn Overs
- `Personal_Fouls`                  A FLOAT that represents is the amount of Personal Fouls
- `Points`                          A FLOAT that represents is the amount of Points Scored
- `Stat_Form`                       A BOOLEAN that represents if the format is playoffs or regular season
- `Trp_Dbl`                         A FLOOAT that represents the amount of double-digit total in three of five statistical categories (assists, blocks, points, rebounds, and steals) over the course of a single game

### `Player_Career_Stats`
<strong>Primary Key:</strong>
- `Player_ID`

<strong>Foreign Key:</strong>
- `Player_ID` REFERENCES Player(Player_ID)

<strong>Check Constraints:</strong> 
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>            
- `Player_ID`           
- `Birth_Date`
- `Player_Name`

<strong>Columns:</strong>
- `Player_ID`            A UNIQUE INT that represents a player
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name

### `Player_Career_Advanced`
<strong>Primary Key:</strong>
- `Player_ID`
- `Stat_Form` 

<strong>Foreign Key:</strong>
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>             
- `Player_ID`           
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Minutes_Played`            
- `Per_Minute_Production`       
- `True_Shooting_Percent`       
- `Three_Points_Attempted`     
- `Free_Throws_Per_Field_Goals`  
- `Offensive_Rebound_Percentage` 
- `Defensive_Rebound_Percentage` 
- `True_Rebounds_Percentage`     
- `Assit_Percentage`             
- `Steal_Percentage`            
- `Block_Percentage`              
- `Turn_Over_Percentage`          
- `Usage_Percentage`              
- `Offensive_Win_Shares`          
- `Defensive_Win_Shares`           
- `Win_Shares`                    
- `Win_Shares_Fourty_Eight`       
- `Offensive_Box_Score`           
- `Defensive_Box_Score`           
- `Box_Plus_Minus`                
- `Value_Over_Replacement`        
- `Stat_Form`                    

<strong>Columns:</strong>
- `Player_ID`            A UNIQUE INT that represents a player
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Per_Minute_Production`  A FLOAT that represents is the measurment of a player's per-minute production      
- `True_Shooting_Percent`  A FLOAT that represents is the measurement of shooting efficiency     
- `Three_Points_Attempted` A FLOAT that represents is the percentage of FG Attempts from the 3 Point line      
- `Free_Throws_Per_Field_Goals`  A FLOAT that represents is the number of FT Attempts per Field Goal Attempts  
- `Offensive_Rebound_Percentage` A FLOAT that represents is an estimated percentage of available offensive rebounds a player takes when in game  
- `Defensive_Rebound_Percentage` A FLOAT that represents is an estimated percentage of available defensive rebounds a player takes when in game 
- `True_Rebounds_Percentage` A FLOAT that represents is an estimated percentage of available  rebounds a player takes when in game
- `Assit_Percentage` A FLOAT that represents is an estimated percentage of teammate Field Goals a palyer assited while in game 
- `Steal_Percentage` A FLOAT that represents is an estimate percentage of opponent possessions that end with a steal by player while in game             
- `Block_Percentage` A FLOAT that represents is an estimate of the percentage of opponent Field Goal Attempts blocked by player while in game              
- `Turn_Over_Percentage` A FLOAT that represents is an estimate of turnovers commited per 100 plays          
- `Usage_Percentage`     A FLOAT that represents is an estimate of percentage of team plays used by a player while in game     
- `Offensive_Win_Shares` A FLOAT that represents is an estimate of the number of wins contributed by a player due to his offense         
- `Defensive_Win_Shares` A FLOAT that represents is an estimate of the number of wins contributed by a player due to his defense            
- `Win_Shares`           A FLOAT that represents is an estimate of the number of wins contributed by a player          
- `Win_Shares_Fourty_Eight` A FLOAT that represents is an estimate of the number of wins contributed by a player per 48 minute 
- `Offensive_Box_Score`     A FLOAT that represents is a box score estimate of the offensive points per 100 possessions a player contributed      
- `Defensive_Box_Score`     A FLOAT that represents is a box score estimate of the defensive points per 100 possessions a player contributed      
- `Box_Plus_Minus`          A FLOAT that represents is a box score estimate of the points per 100 possessions a player contributed      
- `Value_Over_Replacement`  A FLOAT that represents is a box score estimate of the points per 100 Team possessions that a play contributed       
- `Stat_Form`               A BOOLEAN that represents if the format is a playoffs or regular

### `Player_Career_Per_Game`
<strong>Primary Key:</strong>
- `Player_ID`
- `Stat_Form` 

<strong>Foreign Key:</strong>
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>             
- `Player_ID`           
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Games_Started`
- `Minutes_Played`   
- `Field_Goals_Made`                
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`          
- `Three_Points_Made`             
- `Three_Points_Attempted`         
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`          
- `Two_Points_Percentage`           
- `Effective_Field_Goal_Percentage`
- `Free_Throws_Made`                
- `Free_Throws_Attempted`          
- `Free_Throws_Percentage`        
- `Offensive_Rebounds`            
- `Defensive_Rebounds`              
- `True_Rebounds`                  
- `Assists`                       
- `Steals`                         
- `Blocks`                        
- `Turn_Over`                    
- `Personal_Fouls`                 
- `Points`                         
- `Stat_Form`  

<strong>Columns:</strong>
- `Player_ID`            A UNIQUE INT that represents a player
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Games_Started`        A INT that represents the amount of games the player started
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Field_Goals_Made`        A FLOAT that represents the amount Field Goals made          
- `Field_Goals_Attempted`   A FLOAT that represents the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents the percentage of Field Goals Made / Field Goals Attempted         
- `Three_Points_Made`       A FLOAT that represents the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`         A FLOAT that represents the amount of 2 Point Made        
- `Two_Points_Attempted`    A FLOAT that represents is the amount of 2 Points Attempted      
- `Two_Points_Percentage`   A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped       
- `Effective_Field_Goal_Percentage` A FLOAT that represents is the stat that adjusts field goal percentage to account for the fact that three-point field goals count for three points while field goals only count for two points
- `Free_Throws_Made`                A FLOAT that represents is the amount of Free Throws Made
- `Free_Throws_Attempted`           A FLOAT that represents is the amount of Free Throws Attempted
- `Free_Throws_Percentage`          A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted
- `Offensive_Rebounds`              A FLOAT that represents is the amount of Offensive Rebound
- `Defensive_Rebounds`              A FLOAT that represents is the amount of Defensive Rebound 
- `True_Rebounds`                   A FLOAT that represents is the amount of Rebound
- `Assists`                         A FLOAT that represents is the amount of Assist
- `Steals`                          A FLOAT that represents is the amount of Steals
- `Blocks`                          A FLOAT that represents is the amount of Blocks
- `Turn_Over`                       A FLOAT that represents is the amount of Turn Overs
- `Personal_Fouls`                  A FLOAT that represents is the amount of Personal Fouls
- `Points`                          A FLOAT that represents is the amount of Points Scored
- `Stat_Form`                       A BOOLEAN that represents if the format is playoffs or regular season

### `Player_Career_Per_Minute`
<strong>Primary Key:</strong>
- `Player_ID`
- `Stat_Form`

<strong>Foreign Key:</strong>
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>            
- `Player_ID`           
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Games_Started`
- `Minutes_Played`   
- `Field_Goals_Made`                
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`          
- `Three_Points_Made`             
- `Three_Points_Attempted`         
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`          
- `Two_Points_Percentage`           
- `Free_Throws_Made`                
- `Free_Throws_Attempted`          
- `Free_Throws_Percentage`        
- `Offensive_Rebounds`            
- `Defensive_Rebounds`              
- `True_Rebounds`                  
- `Assists`                       
- `Steals`                         
- `Blocks`                        
- `Turn_Over`                    
- `Personal_Fouls`                 
- `Points`                         
- `Stat_Form`  

<strong>Columns:</strong>
- `Player_ID`            A UNIQUE INT that represents a player
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Games_Started`        A INT that represents the amount of games the player started
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Field_Goals_Made`        A FLOAT that represents the amount Field Goals made          
- `Field_Goals_Attempted`   A FLOAT that represents the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents the percentage of Field Goals Made / Field Goals Attempted         
- `Three_Points_Made`       A FLOAT that represents the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`         A FLOAT that represents the amount of 2 Point Made        
- `Two_Points_Attempted`    A FLOAT that represents is the amount of 2 Points Attempted      
- `Two_Points_Percentage`   A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped       
- `Free_Throws_Made`                A FLOAT that represents is the amount of Free Throws Made
- `Free_Throws_Attempted`           A FLOAT that represents is the amount of Free Throws Attempted
- `Free_Throws_Percentage`          A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted
- `Offensive_Rebounds`              A FLOAT that represents is the amount of Offensive Rebound
- `Defensive_Rebounds`              A FLOAT that represents is the amount of Defensive Rebound 
- `True_Rebounds`                   A FLOAT that represents is the amount of Rebound
- `Assists`                         A FLOAT that represents is the amount of Assist
- `Steals`                          A FLOAT that represents is the amount of Steals
- `Blocks`                          A FLOAT that represents is the amount of Blocks
- `Turn_Over`                       A FLOAT that represents is the amount of Turn Overs
- `Personal_Fouls`                  A FLOAT that represents is the amount of Personal Fouls
- `Points`                          A FLOAT that represents is the amount of Points Scored
- `Stat_Form`                       A BOOLEAN that represents if the format is playoffs or regular season

### `Player_Career_Per_Poss`
<strong>Primary Key:</strong>
- `Player_ID`
- `Stat_Form` 

<strong>Foreign Key:</strong>
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>            
- `Player_ID`           
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Games_Started`
- `Minutes_Played`   
- `Field_Goals_Made`                
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`          
- `Three_Points_Made`             
- `Three_Points_Attempted`         
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`          
- `Two_Points_Percentage`           
- `Free_Throws_Made`                
- `Free_Throws_Attempted`          
- `Free_Throws_Percentage`        
- `Offensive_Rebounds`            
- `Defensive_Rebounds`              
- `True_Rebounds`                  
- `Assists`                       
- `Steals`                         
- `Blocks`                        
- `Turn_Over`                    
- `Personal_Fouls`                 
- `Points`                         
- `Stat_Form`  
- `Drtg`
- `Ortg`

<strong>Columns:</strong>
- `Player_ID`            A UNIQUE INT that represents a player
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Games_Started`        A INT that represents the amount of games the player started
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Field_Goals_Made`        A FLOAT that represents the amount Field Goals made          
- `Field_Goals_Attempted`   A FLOAT that represents the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents the percentage of Field Goals Made / Field Goals Attempted         
- `Three_Points_Made`       A FLOAT that represents the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`         A FLOAT that represents the amount of 2 Point Made        
- `Two_Points_Attempted`    A FLOAT that represents is the amount of 2 Points Attempted      
- `Two_Points_Percentage`   A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped       
- `Free_Throws_Made`                A FLOAT that represents is the amount of Free Throws Made
- `Free_Throws_Attempted`           A FLOAT that represents is the amount of Free Throws Attempted
- `Free_Throws_Percentage`          A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted
- `Offensive_Rebounds`              A FLOAT that represents is the amount of Offensive Rebound
- `Defensive_Rebounds`              A FLOAT that represents is the amount of Defensive Rebound 
- `True_Rebounds`                   A FLOAT that represents is the amount of Rebound
- `Assists`                         A FLOAT that represents is the amount of Assist
- `Steals`                          A FLOAT that represents is the amount of Steals
- `Blocks`                          A FLOAT that represents is the amount of Blocks
- `Turn_Over`                       A FLOAT that represents is the amount of Turn Overs
- `Personal_Fouls`                  A FLOAT that represents is the amount of Personal Fouls
- `Points`                          A FLOAT that represents is the amount of Points Scored
- `Stat_Form`                       A BOOLEAN that represents if the format is playoffs or regular season
- `Drtg` A FLOAT that represents the amount of points allowed per 100 posessions
- `Ortg` A FLOAT that represents the amount of points scored per 100 possessions

### `Player_Career_Totals`
<strong>Primary Key:</strong>
- `Player_ID`
- `Stat_Form` 

<strong>Foreign Key:</strong>
- `Player_ID` REFERENCES Player_Stats(Player_ID)

<strong>Check Constraints:</strong> 
- `Season_ID` BETWEEN 1980 AND 2021
- `Team_ID` BETWEEN 1 and 31
- `Player_ID` BETWEEN 1 and 3287

<strong>NULL Constraints:</strong>            
- `Player_ID`           
- `Birth_Date`
- `Player_Name`
- `Player_Age`                  
- `League`                       
- `Player_Postion`               
- `Games_Played`       	         
- `Games_Started`
- `Minutes_Played`   
- `Field_Goals_Made`                
- `Field_Goals_Attempted`         
- `Field_Goals_Percentage`          
- `Three_Points_Made`             
- `Three_Points_Attempted`         
- `Three_Points_Percentage`        
- `Two_Points_Made`                  
- `Two_Points_Attempted`          
- `Two_Points_Percentage`           
- `Free_Throws_Made`                
- `Free_Throws_Attempted`          
- `Free_Throws_Percentage`        
- `Offensive_Rebounds`            
- `Defensive_Rebounds`              
- `True_Rebounds`                  
- `Assists`                       
- `Steals`                         
- `Blocks`                        
- `Turn_Over`                    
- `Personal_Fouls`                 
- `Points`                         
- `Stat_Form`  
- `Trp_Dbl`

<strong>Columns:</strong>
- `Player_ID`            A UNIQUE INT that represents a player
- `Birth_Date`           A DATE that represents a player's date of birth
- `Player_Name`          A VARCHAR of length 45 that represents a player's name
- `Player_Age`           A INT that represents the age of the player      
- `League`               A VARCHAR of length 3 that represent the league the player plays for(should be NBA)
- `Player_Postion`       A VARCHAR of length 20 that represent the postions the player plays
- `Games_Played`       	 A INT that represents the amount of games the player played for a season
- `Games_Started`        A INT that represents the amount of games the player started
- `Minutes_Played`       A INT that represents the amount of minutes the player played for a season
- `Field_Goals_Made`        A FLOAT that represents the amount Field Goals made          
- `Field_Goals_Attempted`   A FLOAT that represents the amount of Field Goals Attempted      
- `Field_Goals_Percentage`  A FLOAT that represents the percentage of Field Goals Made / Field Goals Attempted         
- `Three_Points_Made`       A FLOAT that represents the amount of 3 Point Shots Made      
- `Three_Points_Attempted`  A FLOAT that represents the amount of 3 Point Shots Attempted       
- `Three_Points_Percentage` A FLOAT that represents the percentage of 3 Points Made / 3 Point Shot Attempted       
- `Two_Points_Made`         A FLOAT that represents the amount of 2 Point Made        
- `Two_Points_Attempted`    A FLOAT that represents is the amount of 2 Points Attempted      
- `Two_Points_Percentage`   A FLOAT that represents is the percentage of 2 Point Made / 2 Points Attemped       
- `Free_Throws_Made`                A FLOAT that represents is the amount of Free Throws Made
- `Free_Throws_Attempted`           A FLOAT that represents is the amount of Free Throws Attempted
- `Free_Throws_Percentage`          A FLOAT that represents is the percentage of Free Throws Made / Free Throws Attempted
- `Offensive_Rebounds`              A FLOAT that represents is the amount of Offensive Rebound
- `Defensive_Rebounds`              A FLOAT that represents is the amount of Defensive Rebound 
- `True_Rebounds`                   A FLOAT that represents is the amount of Rebound
- `Assists`                         A FLOAT that represents is the amount of Assist
- `Steals`                          A FLOAT that represents is the amount of Steals
- `Blocks`                          A FLOAT that represents is the amount of Blocks
- `Turn_Over`                       A FLOAT that represents is the amount of Turn Overs
- `Personal_Fouls`                  A FLOAT that represents is the amount of Personal Fouls
- `Points`                          A FLOAT that represents is the amount of Points Scored
- `Stat_Form`                       A BOOLEAN that represents if the format is playoffs or regular season
- `Trp_Dbl`                         A FLOOAT that represents the amount of double-digit total in three of five statistical categories (assists, blocks, points, rebounds, and steals) over the course of a single game

## Insert Into Database
Inserting into the database uses the csv file generated from `Phase 1`<br>
Using `sqlalchemy`, and using the function `csv_to_pd` to convert a csv file into a pandas dataframe, then using the function `pd_to_sql` inserts the pandas dataframe into the database

## Queries
Each database table has it's own queries except `Season`<br>
When running the queries, there is no accented chars, for example <strong>Jokić -> Jokic</strong><br>
Below is an image of the amount of queries for each table

![](attachment:image.jpg)
<center><img src="Queries_Amount.jpg" align="center"/></center>

# <font color='red'>Python Scripts  </font>

## File Layout 

```
/Python_Scripts |--> /Call_Queries --> Functions that call Stored Procedures for every database entity
                |
                |--> /Queries --> Create Stored Procedures for every database entity 
                | 
                |--> /Queries_Test --> Test for every database entity
                |
                |--> Create_Tables_DB.py
                |
                |--> General_Procedures.py
                |
                |--> Helper_DB.py
                |
                |--> Insert_DB.py
```

## Create_Tables_DB.py

### `create_season_table():`

### `create_team_table():`

### `create_player_table():`

### `create_conference_standings_table():`

### `create_roster_table():`

### `create_team_stats_table():`

### `create_team_advanced_table():`

### `create_team_misc_table():`

### `create_team_per_game_table():`

### `create_team_per_poss_table():`

### `create_team_totals_table():`

### `create_player_stats_table():`

### `create_player_advanced_table():`

### `create_player_per_game_table():`

### `create_player_per_minute_table():`

### `create_player_per_poss_table():`

### `create_player_totals_table():`

### `create_player_career_stats_table():`

### `create_player_career_advanced_table():`

### `create_player_career_per_game_table():`

### `create_player_career_per_minute_table():`

### `create_player_career_per_poss_table():`

### `create_player_career_totals_table():`

### `create_all():`

### <font color='red'>Import Functions from Create_Tables_DB.py</font>

In [9]:
from Create_Tables_DB import *

## General_Procedures.py

### `create_drop_table_procedure():`

### `create_truncate_table_procedure():`

### `create_general_procedures():`

### `drop_procedure_drop_table():`

### `drop_procedure_truncate_table_procedure():`

### `drop_general_procedures():`

### <font color='red'>Import Functions from General_Procedures.py</font>

In [10]:
from General_Procedures import *

Procedure does not Exist
Creation of procedure Truncate_If_Exist was Successful

## Helper_DB.py

### `create_connection():`

### `test_connection(engine):`

### `check_table(tablename):`

### `check_procedure(procedure):`

### <font color='red'>Import Functions from Helper_DB.py</font>

In [2]:
from Helper_DB import test_connection, create_connection, check_procedure

## <font color='blue'> Insert_DB.py </font>

### `insert_season(season_id):`

### `insert_team(df):`

### `insert_player(df):`

### `insert_conference_standings(df):`

### `insert_roster(df):`

### `insert_team_stats(df):`

### `insert_team_advanced(df):`

### `insert_team_misc(df):`

### `insert_team_per_game(df, opponent):`

### `insert_team_per_poss(df, opponent):`

### `insert_team_totals(df, opponent):`  

### `insert_player_stats(df):`

### `insert_player_advanced(df, format):`

### `insert_player_per_game(df, format):`

### `insert_player_per_minute(df, format):`

### `insert_player_per_poss(df, format):`

### `insert_player_totals(df, format):`

### `insert_player_career_stats(df):`

### `insert_player_career_advanced(df, format):`

### `insert_player_career_per_game(df, format):`

### `insert_player_career_per_minute(df, format):`

### `insert_player_career_per_poss(df, format):`

### `insert_player_career_totals(df, format):`

### <font color='red'>Import Functions from Insert_DB.py</font>

In [11]:
from Insert_DB import *

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Bryan\\Desktop\\Basketball-Stats\\Database\\Jupyter Notebook\\Web_Scrapers\\Output\\Player_Name\\player_names.csv'

# <font color='blue'> /Call_Queries </font>

## /Played_For_Teams

## Call_Query_Team
### `call_query_all_team_sid(season_id):`
<strong>Parameters:</strong><br>
- `season_id` - is a unique int that represents the NBA season

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID`
```
 ['Season_ID', 'Team_ID', 'Team_Name', 'Team_ABV']
```
Where `Season_ID` equals the input parameter `season_id`

### `call_query_all_team_tid(team_id):`
<strong>Parameters:</strong><br>
- `team_id` - is a unique int that represents a NBA team

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Team_ID`
```
 ['Season_ID', 'Team_ID', 'Team_Name', 'Team_ABV']
```
Where `Team_ID` equals the input parameter `team_id`

### `call_query_all_team_name(team_name):`
<strong>Parameters:</strong><br>
- `team_name` - is a string that represents a NBA team's name

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Team_Name`
```
 ['Season_ID', 'Team_ID', 'Team_Name', 'Team_ABV']
```
Where `Team_Name` equals the input parameter `team_name`

### `call_query_all_team_abv(team_abv):`
<strong>Parameters:</strong><br>
- `team_abv` - is a string that represents an abbreviation of a NBA team's name

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Team_ABV`
```
 ['Season_ID', 'Team_ID', 'Team_Name', 'Team_ABV']
```
Where `Team_ABV` equals the input parameter `team_abv`<br>

### `call_query_team_name(team_name):`
<strong>Parameters:</strong><br>
- `team_name` - is a string that represents a NBA team's name

<strong>Returns:</strong><br>
Returns the primary key, `Team_ID` based on its `team_name`

### `call_query_team_abv(team_abv):`
<strong>Parameters:</strong><br>
- `team_abv` - is a string that represents an abbreviation of a NBA team's name

<strong>Returns:</strong><br>
Returns the primary key, `Team_ID` based on its `team_abv`

### <font color='red'>Import the Functions from Call_Query_Team</font>

In [2]:
# Import Call_Query_Team
from Call_Query_Team import *

### Output for Call_Query_Team

In [3]:
# Output call_query_all_team_sid for season_id = 2020
df = call_query_all_team_sid(2020)
df

    Season_ID  Team_ID               Team_Name Team_ABV
0        2020        1           Atlanta Hawks      ATL
1        2020        2          Boston Celtics      BOS
2        2020        3           Brooklyn Nets      BRK
3        2020        4       Charlotte Hornets      CHO
4        2020        5           Chicago Bulls      CHI
5        2020        6     Cleveland Cavaliers      CLE
6        2020        7        Dallas Mavericks      DAL
7        2020        8          Denver Nuggets      DEN
8        2020        9         Detroit Pistons      DET
9        2020       10   Golden State Warriors      GSW
10       2020       11         Houston Rockets      HOU
11       2020       12          Indiana Pacers      IND
12       2020       13    Los Angeles Clippers      LAC
13       2020       14      Los Angeles Lakers      LAL
14       2020       15       Memphis Grizzlies      MEM
15       2020       16              Miami Heat      MIA
16       2020       17         Milwaukee Bucks      MIL
17       2020       18  Minnesota Timberwolves      MIN
18       2020       19    New Orleans Pelicans      NOP
19       2020       20         New York Knicks      NYK
20       2020       21   Oklahoma City Thunder      OKC
21       2020       22           Orlando Magic      ORL
22       2020       23      Philadelphia 76Ers      PHI
23       2020       24            Phoenix Suns      PHO
24       2020       25  Portland Trail Blazers      POR
25       2020       26        Sacramento Kings      SAC
26       2020       27       San Antonio Spurs      SAS
27       2020       28         Toronto Raptors      TOR
28       2020       29               Utah Jazz      UTA
29       2020       30      Washington Wizards      WAS
30       2020       31       Total After Trade      TOT

In [4]:
# Output call_query_all_team_id for team_id = 2
df = call_query_all_team_tid(2)
df

    Season_ID  Team_ID       Team_Name Team_ABV
0        1980        2  Boston Celtics      BOS
1        1981        2  Boston Celtics      BOS
2        1982        2  Boston Celtics      BOS
3        1983        2  Boston Celtics      BOS
4        1984        2  Boston Celtics      BOS
5        1985        2  Boston Celtics      BOS
6        1986        2  Boston Celtics      BOS
7        1987        2  Boston Celtics      BOS
8        1988        2  Boston Celtics      BOS
9        1989        2  Boston Celtics      BOS
10       1990        2  Boston Celtics      BOS
11       1991        2  Boston Celtics      BOS
12       1992        2  Boston Celtics      BOS
13       1993        2  Boston Celtics      BOS
14       1994        2  Boston Celtics      BOS
15       1995        2  Boston Celtics      BOS
16       1996        2  Boston Celtics      BOS
17       1997        2  Boston Celtics      BOS
18       1998        2  Boston Celtics      BOS
19       1999        2  Boston Celtics      BOS
20       2000        2  Boston Celtics      BOS
21       2001        2  Boston Celtics      BOS
22       2002        2  Boston Celtics      BOS
23       2003        2  Boston Celtics      BOS
24       2004        2  Boston Celtics      BOS
25       2005        2  Boston Celtics      BOS
26       2006        2  Boston Celtics      BOS
27       2007        2  Boston Celtics      BOS
28       2008        2  Boston Celtics      BOS
29       2009        2  Boston Celtics      BOS
30       2010        2  Boston Celtics      BOS
31       2011        2  Boston Celtics      BOS
32       2012        2  Boston Celtics      BOS
33       2013        2  Boston Celtics      BOS
34       2014        2  Boston Celtics      BOS
35       2015        2  Boston Celtics      BOS
36       2016        2  Boston Celtics      BOS
37       2017        2  Boston Celtics      BOS
38       2018        2  Boston Celtics      BOS
39       2019        2  Boston Celtics      BOS
40       2020        2  Boston Celtics      BOS

In [4]:
# Output call_query_all_team_name for team_name = "Boston Celtics"
df = call_query_all_team_name("Boston Celtics")
df

    Season_ID  Team_ID       Team_Name Team_ABV
0        1980        2  Boston Celtics      BOS
1        1981        2  Boston Celtics      BOS
2        1982        2  Boston Celtics      BOS
3        1983        2  Boston Celtics      BOS
4        1984        2  Boston Celtics      BOS
5        1985        2  Boston Celtics      BOS
6        1986        2  Boston Celtics      BOS
7        1987        2  Boston Celtics      BOS
8        1988        2  Boston Celtics      BOS
9        1989        2  Boston Celtics      BOS
10       1990        2  Boston Celtics      BOS
11       1991        2  Boston Celtics      BOS
12       1992        2  Boston Celtics      BOS
13       1993        2  Boston Celtics      BOS
14       1994        2  Boston Celtics      BOS
15       1995        2  Boston Celtics      BOS
16       1996        2  Boston Celtics      BOS
17       1997        2  Boston Celtics      BOS
18       1998        2  Boston Celtics      BOS
19       1999        2  Boston Celtics      BOS
20       2000        2  Boston Celtics      BOS
21       2001        2  Boston Celtics      BOS
22       2002        2  Boston Celtics      BOS
23       2003        2  Boston Celtics      BOS
24       2004        2  Boston Celtics      BOS
25       2005        2  Boston Celtics      BOS
26       2006        2  Boston Celtics      BOS
27       2007        2  Boston Celtics      BOS
28       2008        2  Boston Celtics      BOS
29       2009        2  Boston Celtics      BOS
30       2010        2  Boston Celtics      BOS
31       2011        2  Boston Celtics      BOS
32       2012        2  Boston Celtics      BOS
33       2013        2  Boston Celtics      BOS
34       2014        2  Boston Celtics      BOS
35       2015        2  Boston Celtics      BOS
36       2016        2  Boston Celtics      BOS
37       2017        2  Boston Celtics      BOS
38       2018        2  Boston Celtics      BOS
39       2019        2  Boston Celtics      BOS
40       2020        2  Boston Celtics      BOS

In [6]:
# Output call_query_all_team_abv
df = call_query_all_team_abv("BOS")
df

    Season_ID  Team_ID       Team_Name Team_ABV
0        1980        2  Boston Celtics      BOS
1        1981        2  Boston Celtics      BOS
2        1982        2  Boston Celtics      BOS
3        1983        2  Boston Celtics      BOS
4        1984        2  Boston Celtics      BOS
5        1985        2  Boston Celtics      BOS
6        1986        2  Boston Celtics      BOS
7        1987        2  Boston Celtics      BOS
8        1988        2  Boston Celtics      BOS
9        1989        2  Boston Celtics      BOS
10       1990        2  Boston Celtics      BOS
11       1991        2  Boston Celtics      BOS
12       1992        2  Boston Celtics      BOS
13       1993        2  Boston Celtics      BOS
14       1994        2  Boston Celtics      BOS
15       1995        2  Boston Celtics      BOS
16       1996        2  Boston Celtics      BOS
17       1997        2  Boston Celtics      BOS
18       1998        2  Boston Celtics      BOS
19       1999        2  Boston Celtics      BOS
20       2000        2  Boston Celtics      BOS
21       2001        2  Boston Celtics      BOS
22       2002        2  Boston Celtics      BOS
23       2003        2  Boston Celtics      BOS
24       2004        2  Boston Celtics      BOS
25       2005        2  Boston Celtics      BOS
26       2006        2  Boston Celtics      BOS
27       2007        2  Boston Celtics      BOS
28       2008        2  Boston Celtics      BOS
29       2009        2  Boston Celtics      BOS
30       2010        2  Boston Celtics      BOS
31       2011        2  Boston Celtics      BOS
32       2012        2  Boston Celtics      BOS
33       2013        2  Boston Celtics      BOS
34       2014        2  Boston Celtics      BOS
35       2015        2  Boston Celtics      BOS
36       2016        2  Boston Celtics      BOS
37       2017        2  Boston Celtics      BOS
38       2018        2  Boston Celtics      BOS
39       2019        2  Boston Celtics      BOS
40       2020        2  Boston Celtics      BOS

In [5]:
# Output call_query_team_name
number = call_query_team_name("Boston Celtics")
number

2

In [6]:
# Output call_query_team_abv
number = call_query_team_abv("BOS")
number

2

## Call_Query_Player
### `call_query_all_player_pid(player_id):`
<strong>Parameters:</strong><br>
- `player_id` - is a unique int that represents a NBA player

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Player_ID`
```
 ['Player_ID', 'Birth_Date', 'Player_Name']
```
Where `Player_ID` equals the input parameter `player_id`

### `call_query_all_player_name_dob(player_name, dob):`
<strong>Parameters:</strong><br>
- `player_name` - is a string that represents a player's name
- `dob` - is a date that represents a player's date of bityh

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `player_dob`
```
 ['Player_ID', 'Birth_Date', 'Player_Name']
```
Where `Birth_Date` equals the input parameter `player_dob`

### `call_query_player_name(player_name):`
<strong>Parameters:</strong><br>
- `player_name` - is a string that represents a player name

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Player_Name`
```
 ['Player_ID', 'Birth_Date', 'Player_Name']
```
Where `Player_Name` equals the input parameter `player_name`

### <font color='red'>Import the Functions from Call_Query_Player</font>

In [7]:
# Import functions for Call_Query_Player
from Call_Query_Player import *

### Output for Call_Query_Player

In [8]:
# Output for call_query_all_player_pid
df = call_query_all_player_pid(2)
df

   Player_ID  Birth_Date          Player_Name
0          2  1947-04-16  Kareem Abdul-Jabbar

In [10]:
# Output for call_query_all_player_name_dob
df = call_query_all_player_name_dob("Kareem Abdul-Jabbar", "1947-04-16")
df

   Player_ID  Birth_Date          Player_Name
0          2  1947-04-16  Kareem Abdul-Jabbar

In [11]:
# Output for call_query_player_name
number = call_query_player_name("Kareem Abdul-Jabbar")
number

2

## Call_Query_Conference_Standings

### `call_query_all_cs_sid(season_id):`
<strong>Parameters:</strong><br>
- `season_id` - is a unique int that represents a NBA season

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID`
```
     ['Season_ID', 'Team_ID', 'Team_ABV', 'Team_Name', 'Wins', 'Loses', 'Win_Lose_Percentage', 'Games_Behind', 
     'Points_Per_Game', 'Opponents_Points_Per_Game', 'Simple_Rating_System', 'East_Or_West']
```
Where `Season_ID` equals the input parameter `season_id`

### `call_query_all_cs_tid(team_id):`
<strong>Parameters:</strong><br>
- `team_id` - is a unique int that represents a team in the NBA

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID`
```
     ['Season_ID', 'Team_ID', 'Team_ABV', 'Team_Name', 'Wins', 'Loses', 'Win_Lose_Percentage', 'Games_Behind', 
     'Points_Per_Game', 'Opponents_Points_Per_Game', 'Simple_Rating_System', 'East_Or_West']
```
Where `Team_ID` equals the input parameter `team_id`

### `call_query_all_cs_name(team_name):`
<strong>Parameters:</strong><br>
- `team_name` - is a string that represents a NBA team's name

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID`
```
     ['Season_ID', 'Team_ID', 'Team_ABV', 'Team_Name', 'Wins', 'Loses', 'Win_Lose_Percentage', 'Games_Behind', 
     'Points_Per_Game', 'Opponents_Points_Per_Game', 'Simple_Rating_System', 'East_Or_West']
```
Where `Season_ID` equals the input parameter `season_id`

### `call_query_all_cs_ABV(team_abv):`
<strong>Parameters:</strong><br>
- `team_abv` - is a string that represents an abbreviation of a NBA team's name

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID`
```
     ['Season_ID', 'Team_ID', 'Team_ABV', 'Team_Name', 'Wins', 'Loses', 'Win_Lose_Percentage', 'Games_Behind', 
     'Points_Per_Game', 'Opponents_Points_Per_Game', 'Simple_Rating_System', 'East_Or_West']
```
Where `Season_ID` equals the input parameter `season_id`

### `call_query_all_cs_win(wins_amount):`
<strong>Parameters:</strong><br>
- `wins_amount` - is a int that represents the amount of wins a team has 

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID`
```
     ['Season_ID', 'Team_ID', 'Team_ABV', 'Team_Name', 'Wins', 'Loses', 'Win_Lose_Percentage', 'Games_Behind', 
     'Points_Per_Game', 'Opponents_Points_Per_Game', 'Simple_Rating_System', 'East_Or_West']
```
Where `Season_ID` equals the input parameter `season_id`

### `call_query_all_cs_wl(win_percentage):`
<strong>Parameters:</strong><br>
- `win_percentage` - is the amount of wins divided by the amount of losses a team has 

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Win_Lose_Percentage`
```
     ['Season_ID', 'Team_ID', 'Team_ABV', 'Team_Name', 'Wins', 'Loses', 'Win_Lose_Percentage', 'Games_Behind', 
     'Points_Per_Game', 'Opponents_Points_Per_Game', 'Simple_Rating_System', 'East_Or_West']
```
Where `Win_Lost_Percentage` equals the input parameter `win_percentage`

### `call_query_all_cs_sid_ew(season_id, east_or_west):`
<strong>Parameters:</strong><br>
- `season_id` - is a unique int that represents a NBA season
- `east_or_west` is a boolean that represents the eastern or western conference

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID`
```
     ['Season_ID', 'Team_ID', 'Team_ABV', 'Team_Name', 'Wins', 'Loses', 'Win_Lose_Percentage', 'Games_Behind', 
     'Points_Per_Game', 'Opponents_Points_Per_Game', 'Simple_Rating_System', 'East_Or_West']
```
Where `Season_ID` equals the input parameter `season_id`<br>
Where `East_or_West` equals the input parameter `east_or_west`

### `call_query_cs_win(season_id, team_id):`
<strong>Parameters:</strong><br>
- `season_id` - is a unique int that represents a NBA season
- `team_id` - is a unique int that represents a NBA team

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID` and `Team_ID`
```
     ['Season_ID', 'Team_ID', 'Team_ABV', 'Team_Name', 'Wins']
```
Where `Season_ID` equals the input parameter `season_id`<br>
Where `Team_ID` equals the input parameter `team_id`

### <font color='red'>Import the Functions from Call_Query_Conference_Standings</font>

In [17]:
from Call_Query_Conference_Standings import *

### Output for Call_Query_Conference_Stadings

In [19]:
# Output for call_query_all_cs_sid for season_id = 2020
df = call_query_all_cs_sid(2020)
df

,Season_ID,Team_ID,Team_ABV,Team_Name,Wins,Loses,Win_Lose_Percentage,Games_Behind,Points_Per_Game,Opponents_Points_Per_Game,Simple_Rating_System,East_Or_West
0,2020,1,ATL,Atlanta Hawks,20,47,0.30,33.0,111.8,119.7,-7.71,0
1,2020,2,BOS,Boston Celtics,48,24,0.67,7.5,113.7,107.3,5.83,0
2,2020,3,BRK,Brooklyn Nets,35,37,0.49,20.5,111.8,112.3,-1.01,0
3,2020,4,CHO,Charlotte Hornets,23,42,0.35,29.0,102.9,109.6,-7.03,0
4,2020,5,CHI,Chicago Bulls,22,43,0.34,30.0,106.8,109.9,-4.00,0
5,2020,6,CLE,Cleveland Cavaliers,19,46,0.29,33.0,106.9,114.8,-7.77,0
6,2020,7,DAL,Dallas Mavericks,43,32,0.57,11.0,117.0,112.1,4.87,1
7,2020,8,DEN,Denver Nuggets,46,27,0.63,7.0,111.3,109.2,2.35,1
8,2020,9,DET,Detroit Pistons,20,46,0.30,32.5,107.2,110.8,-4.38,0
9,2020,10,GSW,Golden State Warriors,15,50,0.23,34.0,106.3,115.0,-8.12,1
10,2020,11,HOU,Houston Rockets,44,28,0.61,8.5,117.8,114.8,3.13,1
11,2020,12,IND,Indiana Pacers,45,28,0.62,11.0,109.4,107.5,1.63,0
12,2020,13,LAC,Los Angeles Clippers,49,23,0.68,3.5,116.3,109.9,6.66,1
13,2020,14,LAL,Los Angeles Lakers,52,19,0.73,—,113.4,107.6,6.28,1
14,2020,15,MEM,Memphis Grizzlies,34,39,0.47,19.0,112.6,113.7,-0.91,1
15,2020,16,MIA,Miami Heat,44,29,0.60,12.0,112.0,109.1,2.59,0
16,2020,17,MIL,Milwaukee Bucks,56,17,0.77,—,118.7,108.6,9.41,0
17,2020,18,MIN,Minnesota Timberwolves,19,45,0.30,29.5,113.3,117.5,-4.02,1
18,2020,19,NOP,New Orleans Pelicans,30,42,0.42,22.5,115.8,117.1,-0.55,1
19,2020,20,NYK,New York Knicks,21,45,0.32,31.5,105.8,112.3,-6.72,0
20,2020,21,OKC,Oklahoma City Thunder,44,28,0.61,8.5,110.4,108.4,2.33,1
21,2020,22,ORL,Orlando Magic,33,40,0.45,23.0,107.3,108.3,-0.93,0
22,2020,23,PHI,Philadelphia 76Ers,43,30,0.59,13.0,110.7,108.4,2.25,0
23,2020,24,PHO,Phoenix Suns,34,39,0.47,19.0,113.6,113.4,0.56,1
24,2020,25,POR,Portland Trail Blazers,35,39,0.47,18.5,115.0,116.1,-0.61,1
25,2020,26,SAC,Sacramento Kings,31,41,0.43,21.5,110.1,112.1,-1.59,1
26,2020,27,SAS,San Antonio Spurs,32,39,0.45,20.0,114.1,115.2,-0.65,1
27,2020,28,TOR,Toronto Raptors,53,19,0.74,2.5,112.8,106.5,5.97,0
28,2020,29,UTA,Utah Jazz,44,28,0.61,8.5,111.3,108.8,2.52,1
29,2020,30,WAS,Washington Wizards,25,47,0.35,30.5,114.4,119.1,-5.24,0

In [20]:
# Output for call_query_all_cs_tid for team_id = 2
df = call_query_all_cs_tid(2)
df

,Season_ID,Team_ID,Team_ABV,Team_Name,Wins,Loses,Win_Lose_Percentage,Games_Behind,Points_Per_Game,Opponents_Points_Per_Game,Simple_Rating_System,East_Or_West
0,1980,2,BOS,Boston Celtics,61,21,0.74,—,113.5,105.7,7.37,0
1,1981,2,BOS,Boston Celtics,62,20,0.76,—,109.9,104.0,6.05,0
2,1982,2,BOS,Boston Celtics,63,19,0.77,—,112.0,105.6,6.35,0
3,1983,2,BOS,Boston Celtics,56,26,0.68,9.0,112.1,106.7,5.34,0
4,1984,2,BOS,Boston Celtics,62,20,0.76,—,112.1,105.6,6.42,0
5,1985,2,BOS,Boston Celtics,63,19,0.77,—,114.8,108.1,6.47,0
6,1986,2,BOS,Boston Celtics,67,15,0.82,—,114.1,104.7,9.06,0
7,1987,2,BOS,Boston Celtics,59,23,0.72,—,112.6,106.0,6.57,0
8,1988,2,BOS,Boston Celtics,57,25,0.70,—,113.6,107.7,6.15,0
9,1989,2,BOS,Boston Celtics,42,40,0.51,10.0,109.2,108.1,1.26,0
10,1990,2,BOS,Boston Celtics,52,30,0.63,1.0,110.0,106.0,3.23,0
11,1991,2,BOS,Boston Celtics,56,26,0.68,—,111.5,105.7,5.22,0
12,1992,2,BOS,Boston Celtics,51,31,0.62,—,106.6,103.0,3.41,0
13,1993,2,BOS,Boston Celtics,48,34,0.58,12.0,103.7,102.8,0.93,0
14,1994,2,BOS,Boston Celtics,32,50,0.39,25.0,100.8,105.1,-4.28,0
15,1995,2,BOS,Boston Celtics,35,47,0.43,22.0,102.8,104.7,-1.92,0
16,1996,2,BOS,Boston Celtics,33,49,0.40,27.0,103.6,107.0,-3.37,0
17,1997,2,BOS,Boston Celtics,15,67,0.18,46.0,100.6,107.9,-6.62,0
18,1998,2,BOS,Boston Celtics,36,46,0.44,19.0,95.9,98.5,-1.96,0
19,1999,2,BOS,Boston Celtics,19,31,0.38,14.0,93.0,94.9,-1.75,0
20,2000,2,BOS,Boston Celtics,35,47,0.43,17.0,99.3,100.1,-1.00,0
21,2001,2,BOS,Boston Celtics,36,46,0.44,20.0,94.6,96.8,-2.40,0
22,2002,2,BOS,Boston Celtics,49,33,0.60,3.0,96.4,94.1,1.75,0
23,2003,2,BOS,Boston Celtics,44,38,0.54,5.0,92.7,93.1,-0.75,0
24,2004,2,BOS,Boston Celtics,36,46,0.44,11.0,95.3,96.7,-1.99,0
25,2005,2,BOS,Boston Celtics,45,37,0.55,—,101.3,100.4,0.35,0
26,2006,2,BOS,Boston Celtics,33,49,0.40,16.0,98.0,99.5,-1.59,0
27,2007,2,BOS,Boston Celtics,24,58,0.29,23.0,95.8,99.2,-3.70,0
28,2008,2,BOS,Boston Celtics,66,16,0.80,—,100.5,90.3,9.30,0
29,2009,2,BOS,Boston Celtics,62,20,0.76,—,100.9,93.4,7.44,0
30,2010,2,BOS,Boston Celtics,50,32,0.61,—,99.2,95.6,3.37,0
31,2011,2,BOS,Boston Celtics,56,26,0.68,—,96.5,91.1,4.83,0
32,2012,2,BOS,Boston Celtics,39,27,0.59,—,91.8,89.3,2.26,0
33,2013,2,BOS,Boston Celtics,41,40,0.51,12.5,96.5,96.7,-0.62,0
34,2014,2,BOS,Boston Celtics,25,57,0.30,23.0,96.2,100.7,-4.97,0
35,2015,2,BOS,Boston Celtics,40,42,0.49,9.0,101.4,101.2,-0.40,0
36,2016,2,BOS,Boston Celtics,48,34,0.58,9.0,105.7,102.5,2.84,0
37,2017,2,BOS,Boston Celtics,53,29,0.65,—,108.0,105.4,2.25,0
38,2018,2,BOS,Boston Celtics,55,27,0.67,4.0,104.0,100.4,3.23,0
39,2019,2,BOS,Boston Celtics,49,33,0.60,11.0,112.4,108.0,3.90,0
40,2020,2,BOS,Boston Celtics,48,24,0.67,7.5,113.7,107.3,5.83,0

In [21]:
# Output for call_query_all_cs_name for team_name = "Boston Celtics"
df = call_query_all_cs_name("Boston Celtics")
df

,Season_ID,Team_ID,Team_ABV,Team_Name,Wins,Loses,Win_Lose_Percentage,Games_Behind,Points_Per_Game,Opponents_Points_Per_Game,Simple_Rating_System,East_Or_West
0,1980,2,BOS,Boston Celtics,61,21,0.74,—,113.5,105.7,7.37,0
1,1981,2,BOS,Boston Celtics,62,20,0.76,—,109.9,104.0,6.05,0
2,1982,2,BOS,Boston Celtics,63,19,0.77,—,112.0,105.6,6.35,0
3,1983,2,BOS,Boston Celtics,56,26,0.68,9.0,112.1,106.7,5.34,0
4,1984,2,BOS,Boston Celtics,62,20,0.76,—,112.1,105.6,6.42,0
5,1985,2,BOS,Boston Celtics,63,19,0.77,—,114.8,108.1,6.47,0
6,1986,2,BOS,Boston Celtics,67,15,0.82,—,114.1,104.7,9.06,0
7,1987,2,BOS,Boston Celtics,59,23,0.72,—,112.6,106.0,6.57,0
8,1988,2,BOS,Boston Celtics,57,25,0.70,—,113.6,107.7,6.15,0
9,1989,2,BOS,Boston Celtics,42,40,0.51,10.0,109.2,108.1,1.26,0
10,1990,2,BOS,Boston Celtics,52,30,0.63,1.0,110.0,106.0,3.23,0
11,1991,2,BOS,Boston Celtics,56,26,0.68,—,111.5,105.7,5.22,0
12,1992,2,BOS,Boston Celtics,51,31,0.62,—,106.6,103.0,3.41,0
13,1993,2,BOS,Boston Celtics,48,34,0.58,12.0,103.7,102.8,0.93,0
14,1994,2,BOS,Boston Celtics,32,50,0.39,25.0,100.8,105.1,-4.28,0
15,1995,2,BOS,Boston Celtics,35,47,0.43,22.0,102.8,104.7,-1.92,0
16,1996,2,BOS,Boston Celtics,33,49,0.40,27.0,103.6,107.0,-3.37,0
17,1997,2,BOS,Boston Celtics,15,67,0.18,46.0,100.6,107.9,-6.62,0
18,1998,2,BOS,Boston Celtics,36,46,0.44,19.0,95.9,98.5,-1.96,0
19,1999,2,BOS,Boston Celtics,19,31,0.38,14.0,93.0,94.9,-1.75,0
20,2000,2,BOS,Boston Celtics,35,47,0.43,17.0,99.3,100.1,-1.00,0
21,2001,2,BOS,Boston Celtics,36,46,0.44,20.0,94.6,96.8,-2.40,0
22,2002,2,BOS,Boston Celtics,49,33,0.60,3.0,96.4,94.1,1.75,0
23,2003,2,BOS,Boston Celtics,44,38,0.54,5.0,92.7,93.1,-0.75,0
24,2004,2,BOS,Boston Celtics,36,46,0.44,11.0,95.3,96.7,-1.99,0
25,2005,2,BOS,Boston Celtics,45,37,0.55,—,101.3,100.4,0.35,0
26,2006,2,BOS,Boston Celtics,33,49,0.40,16.0,98.0,99.5,-1.59,0
27,2007,2,BOS,Boston Celtics,24,58,0.29,23.0,95.8,99.2,-3.70,0
28,2008,2,BOS,Boston Celtics,66,16,0.80,—,100.5,90.3,9.30,0
29,2009,2,BOS,Boston Celtics,62,20,0.76,—,100.9,93.4,7.44,0
30,2010,2,BOS,Boston Celtics,50,32,0.61,—,99.2,95.6,3.37,0
31,2011,2,BOS,Boston Celtics,56,26,0.68,—,96.5,91.1,4.83,0
32,2012,2,BOS,Boston Celtics,39,27,0.59,—,91.8,89.3,2.26,0
33,2013,2,BOS,Boston Celtics,41,40,0.51,12.5,96.5,96.7,-0.62,0
34,2014,2,BOS,Boston Celtics,25,57,0.30,23.0,96.2,100.7,-4.97,0
35,2015,2,BOS,Boston Celtics,40,42,0.49,9.0,101.4,101.2,-0.40,0
36,2016,2,BOS,Boston Celtics,48,34,0.58,9.0,105.7,102.5,2.84,0
37,2017,2,BOS,Boston Celtics,53,29,0.65,—,108.0,105.4,2.25,0
38,2018,2,BOS,Boston Celtics,55,27,0.67,4.0,104.0,100.4,3.23,0
39,2019,2,BOS,Boston Celtics,49,33,0.60,11.0,112.4,108.0,3.90,0
40,2020,2,BOS,Boston Celtics,48,24,0.67,7.5,113.7,107.3,5.83,0

In [22]:
# Output for call_query_all_cs_abv for team_abv = "BOS"
df = call_query_all_cs_abv("BOS")
df

,Season_ID,Team_ID,Team_ABV,Team_Name,Wins,Loses,Win_Lose_Percentage,Games_Behind,Points_Per_Game,Opponents_Points_Per_Game,Simple_Rating_System,East_Or_West
0,1980,2,BOS,Boston Celtics,61,21,0.74,—,113.5,105.7,7.37,0
1,1981,2,BOS,Boston Celtics,62,20,0.76,—,109.9,104.0,6.05,0
2,1982,2,BOS,Boston Celtics,63,19,0.77,—,112.0,105.6,6.35,0
3,1983,2,BOS,Boston Celtics,56,26,0.68,9.0,112.1,106.7,5.34,0
4,1984,2,BOS,Boston Celtics,62,20,0.76,—,112.1,105.6,6.42,0
5,1985,2,BOS,Boston Celtics,63,19,0.77,—,114.8,108.1,6.47,0
6,1986,2,BOS,Boston Celtics,67,15,0.82,—,114.1,104.7,9.06,0
7,1987,2,BOS,Boston Celtics,59,23,0.72,—,112.6,106.0,6.57,0
8,1988,2,BOS,Boston Celtics,57,25,0.70,—,113.6,107.7,6.15,0
9,1989,2,BOS,Boston Celtics,42,40,0.51,10.0,109.2,108.1,1.26,0
10,1990,2,BOS,Boston Celtics,52,30,0.63,1.0,110.0,106.0,3.23,0
11,1991,2,BOS,Boston Celtics,56,26,0.68,—,111.5,105.7,5.22,0
12,1992,2,BOS,Boston Celtics,51,31,0.62,—,106.6,103.0,3.41,0
13,1993,2,BOS,Boston Celtics,48,34,0.58,12.0,103.7,102.8,0.93,0
14,1994,2,BOS,Boston Celtics,32,50,0.39,25.0,100.8,105.1,-4.28,0
15,1995,2,BOS,Boston Celtics,35,47,0.43,22.0,102.8,104.7,-1.92,0
16,1996,2,BOS,Boston Celtics,33,49,0.40,27.0,103.6,107.0,-3.37,0
17,1997,2,BOS,Boston Celtics,15,67,0.18,46.0,100.6,107.9,-6.62,0
18,1998,2,BOS,Boston Celtics,36,46,0.44,19.0,95.9,98.5,-1.96,0
19,1999,2,BOS,Boston Celtics,19,31,0.38,14.0,93.0,94.9,-1.75,0
20,2000,2,BOS,Boston Celtics,35,47,0.43,17.0,99.3,100.1,-1.00,0
21,2001,2,BOS,Boston Celtics,36,46,0.44,20.0,94.6,96.8,-2.40,0
22,2002,2,BOS,Boston Celtics,49,33,0.60,3.0,96.4,94.1,1.75,0
23,2003,2,BOS,Boston Celtics,44,38,0.54,5.0,92.7,93.1,-0.75,0
24,2004,2,BOS,Boston Celtics,36,46,0.44,11.0,95.3,96.7,-1.99,0
25,2005,2,BOS,Boston Celtics,45,37,0.55,—,101.3,100.4,0.35,0
26,2006,2,BOS,Boston Celtics,33,49,0.40,16.0,98.0,99.5,-1.59,0
27,2007,2,BOS,Boston Celtics,24,58,0.29,23.0,95.8,99.2,-3.70,0
28,2008,2,BOS,Boston Celtics,66,16,0.80,—,100.5,90.3,9.30,0
29,2009,2,BOS,Boston Celtics,62,20,0.76,—,100.9,93.4,7.44,0
30,2010,2,BOS,Boston Celtics,50,32,0.61,—,99.2,95.6,3.37,0
31,2011,2,BOS,Boston Celtics,56,26,0.68,—,96.5,91.1,4.83,0
32,2012,2,BOS,Boston Celtics,39,27,0.59,—,91.8,89.3,2.26,0
33,2013,2,BOS,Boston Celtics,41,40,0.51,12.5,96.5,96.7,-0.62,0
34,2014,2,BOS,Boston Celtics,25,57,0.30,23.0,96.2,100.7,-4.97,0
35,2015,2,BOS,Boston Celtics,40,42,0.49,9.0,101.4,101.2,-0.40,0
36,2016,2,BOS,Boston Celtics,48,34,0.58,9.0,105.7,102.5,2.84,0
37,2017,2,BOS,Boston Celtics,53,29,0.65,—,108.0,105.4,2.25,0
38,2018,2,BOS,Boston Celtics,55,27,0.67,4.0,104.0,100.4,3.23,0
39,2019,2,BOS,Boston Celtics,49,33,0.60,11.0,112.4,108.0,3.90,0
40,2020,2,BOS,Boston Celtics,48,24,0.67,7.5,113.7,107.3,5.83,0

In [23]:
# Output for call_query_all_cs_win for team_win > 60
df = call_query_all_cs_win(60)
df

,Season_ID,Team_ID,Team_ABV,Team_Name,Wins,Loses,Win_Lose_Percentage,Games_Behind,Points_Per_Game,Opponents_Points_Per_Game,Simple_Rating_System,East_Or_West
0,1980,2,BOS,Boston Celtics,61,21,0.74,—,113.5,105.7,7.37,0
1,1980,14,LAL,Los Angeles Lakers,60,22,0.73,—,115.1,109.2,5.40,1
2,1981,2,BOS,Boston Celtics,62,20,0.76,—,109.9,104.0,6.05,0
3,1981,17,MIL,Milwaukee Bucks,60,22,0.73,—,113.1,105.9,7.14,0
4,1981,23,PHI,Philadelphia 76Ers,62,20,0.76,—,111.7,103.8,7.76,0
...,...,...,...,...,...,...,...,...,...,...,...,...
58,2016,27,SAS,San Antonio Spurs,67,15,0.82,6.0,103.5,92.9,10.28,1
59,2017,10,GSW,Golden State Warriors,67,15,0.82,—,115.9,104.3,11.35,1
60,2017,27,SAS,San Antonio Spurs,61,21,0.74,6.0,105.3,98.1,7.13,1
61,2018,11,HOU,Houston Rockets,65,17,0.79,—,112.4,103.9,8.21,1
62,2019,17,MIL,Milwaukee Bucks,60,22,0.73,—,118.1,109.3,8.04,0

In [24]:
# Output for call_query_all_cs_wl for win_percentage > .7
df = call_query_all_cs_wl(.7)
df

,Season_ID,Team_ID,Team_ABV,Team_Name,Wins,Loses,Win_Lose_Percentage,Games_Behind,Points_Per_Game,Opponents_Points_Per_Game,Simple_Rating_System,East_Or_West
0,1980,2,BOS,Boston Celtics,61,21,0.74,—,113.5,105.7,7.37,0
1,1980,14,LAL,Los Angeles Lakers,60,22,0.73,—,115.1,109.2,5.40,1
2,1980,23,PHI,Philadelphia 76Ers,59,23,0.72,2.0,109.1,104.9,4.04,0
3,1981,2,BOS,Boston Celtics,62,20,0.76,—,109.9,104.0,6.05,0
4,1981,17,MIL,Milwaukee Bucks,60,22,0.73,—,113.1,105.9,7.14,0
...,...,...,...,...,...,...,...,...,...,...,...,...
127,2019,17,MIL,Milwaukee Bucks,60,22,0.73,—,118.1,109.3,8.04,0
128,2019,28,TOR,Toronto Raptors,58,24,0.71,2.0,114.4,108.4,5.49,0
129,2020,14,LAL,Los Angeles Lakers,52,19,0.73,—,113.4,107.6,6.28,1
130,2020,17,MIL,Milwaukee Bucks,56,17,0.77,—,118.7,108.6,9.41,0
131,2020,28,TOR,Toronto Raptors,53,19,0.74,2.5,112.8,106.5,5.97,0

In [25]:
# Output for call_query_all_cs_sid_ew for season_id = 2020 and east_or_west = 0
df = call_query_all_cs_sid_ew(2020, 0)
df

,Season_ID,Team_ID,Team_ABV,Team_Name,Wins,Loses,Win_Lose_Percentage,Games_Behind,Points_Per_Game,Opponents_Points_Per_Game,Simple_Rating_System,East_Or_West
0,2020,1,ATL,Atlanta Hawks,20,47,0.30,33.0,111.8,119.7,-7.71,0
1,2020,2,BOS,Boston Celtics,48,24,0.67,7.5,113.7,107.3,5.83,0
2,2020,3,BRK,Brooklyn Nets,35,37,0.49,20.5,111.8,112.3,-1.01,0
3,2020,4,CHO,Charlotte Hornets,23,42,0.35,29.0,102.9,109.6,-7.03,0
4,2020,5,CHI,Chicago Bulls,22,43,0.34,30.0,106.8,109.9,-4.00,0
5,2020,6,CLE,Cleveland Cavaliers,19,46,0.29,33.0,106.9,114.8,-7.77,0
6,2020,9,DET,Detroit Pistons,20,46,0.30,32.5,107.2,110.8,-4.38,0
7,2020,12,IND,Indiana Pacers,45,28,0.62,11.0,109.4,107.5,1.63,0
8,2020,16,MIA,Miami Heat,44,29,0.60,12.0,112.0,109.1,2.59,0
9,2020,17,MIL,Milwaukee Bucks,56,17,0.77,—,118.7,108.6,9.41,0
10,2020,20,NYK,New York Knicks,21,45,0.32,31.5,105.8,112.3,-6.72,0
11,2020,22,ORL,Orlando Magic,33,40,0.45,23.0,107.3,108.3,-0.93,0
12,2020,23,PHI,Philadelphia 76Ers,43,30,0.59,13.0,110.7,108.4,2.25,0
13,2020,28,TOR,Toronto Raptors,53,19,0.74,2.5,112.8,106.5,5.97,0
14,2020,30,WAS,Washington Wizards,25,47,0.35,30.5,114.4,119.1,-5.24,0

In [26]:
# Output for call_query_cs_win for season_id = 2020 and team_id = 2
df = call_query_cs_win(2020, 2)
df

   Season_ID  Team_ID Team_ABV       Team_Name  Wins
0       2020        2      BOS  Boston Celtics    48

## Call_Query_Roster

### `call_query_all_roster_sid(season_id):`
<strong>Parameters:</strong><br>
- `season_id` - is a unique int that represents a NBA season

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Season_ID` is equal to the input parameter `season_id`

### `call_query_all_roster_tid(team_id):`
<strong>Parameters:</strong><br>
- `team_id` - is a unique int that represents a NBA team

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Team_ID`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Team_ID` is equal to the input parameter `team_id`

### `call_query_all_roster_pid(player_id):`
<strong>Parameters:</strong><br>
- `player_id` - is a unique int that represents a NBA player

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Player_ID`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Player_ID` is equal to the input parameter `player_id`

### `call_query_all_roster_pname(player_name):`
<strong>Parameters:</strong><br>
- `player_name` - is a string that represents a player's name

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Player_Name`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Player_Name` is equal to the input parameter `player_name`

### `call_query_all_roster_tname(team_name):`
<strong>Parameters:</strong><br>
- `team_name` - is a string that represents a team's name

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Team_Name`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Team_Name` is equal to the input parameter `team_name`

### `call_query_all_roster_abv(team_abv):`
<strong>Parameters:</strong><br>
- `team_abv` - is a string that represents an abbreviation of a team's name

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Team_ABV`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Team_ABV` is equal to the input parameter `team_abv`

### `call_query_all_roster_college(college_name):`
<strong>Parameters:</strong><br>
- `college_name` - is a string that represents a college's name

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Player_College_Name`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Player_College_Name` is equal to the input parameter `college_name`

### `call_query_all_roster_sid_tid(season_id, team_id):`
<strong>Parameters:</strong><br>
- `season_id` - is a unique int that represents a NBA season
- `team_id` - is a unique int that represents a NBA team

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID` and `Team_ID`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Season_ID` is equal to the input parameter `season_id`<br>
Where `Team_ID` is equal to the input parameter `team_id`

### `call_query_all_roster_tid_pid(team_id, player_id):`
<strong>Parameters:</strong><br>
- `team_id` - is a unique int that represents a NBA team
- `player_id` - is a unique int that represents a NBA player

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Team_ID` and `Player_ID`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Team_ID` is equal to the input parameter `team_id`<br>
Where `Player_ID` is equal to the input parameter `player_id` 

### `call_query_all_roster_sid_tid_pid(season_id, team_id, player_id):`
<strong>Parameters:</strong><br>
- `season_id` - is a unique int that represents a NBA season
- `team_id` - is a unique int that represents a NBA team
- `player_id` - is a unique int that represents a NBA player

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `Season_ID`, `Team_ID` and `Player_ID`
```
    ['Season_ID', 'Team_ID', 'Player_ID', 'Team_ABV', 'Team_Name', 'Player_Number', 'Player_Name', 'Player_Postion'	
    'Player_Height', 'Player_Weight', 'Birth_Date', 'Player_Nationality', 'Player_Experience', 'Player_College_Name']
```
Where `Season_ID` is equal to the input parameter `season_id`<br>
Where `Team_ID` is equal to the input parameter `team_id`<br>
Where `Player_ID` is equal to the input parameter `player_id`

### <font color='red'>Import the Functions from Call_Query_Roster</font>

In [27]:
from Call_Query_Roster import *

### Output for Call_Query_Roster

In [28]:
# Output for call_query_all_roster_sid for season_id = 2020
df = call_query_all_roster_sid(2020)
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,2020,1,213,ATL,Atlanta Hawks,95,DeAndre' Bembry,SG,6-5,210,1994-07-04,US,3,Saint Joseph's
1,2020,1,371,ATL,Atlanta Hawks,4,Charlie Brown,SG,6-6,199,1997-02-02,US,R,Saint Joseph's
2,2020,1,492,ATL,Atlanta Hawks,15,Vince Carter,PF,6-6,220,1977-01-26,US,21,UNC
3,2020,1,573,ATL,Atlanta Hawks,20,John Collins,PF,6-9,235,1997-09-23,US,2,Wake Forest
4,2020,1,622,ATL,Atlanta Hawks,33,Allen Crabbe,SG,6-5,212,1992-04-09,US,6,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,2020,30,2685,WAS,Washington Wizards,14,Ish Smith,PG,6-0,175,1988-07-05,US,9,Wake Forest
588,2020,30,2853,WAS,Washington Wizards,4,Isaiah Thomas,PG,5-9,185,1989-02-07,US,8,Washington
589,2020,30,2951,WAS,Washington Wizards,7,Jarrod Uthoff,PF,6-9,221,1993-05-19,US,1,Iowa
590,2020,30,3002,WAS,Washington Wizards,21,Moritz Wagner,C,6-11,245,1997-04-26,DE,1,Michigan
591,2020,30,3159,WAS,Washington Wizards,19,Johnathan Williams,PF,6-9,228,1995-05-22,US,1,"Missouri, Gonzaga"

In [29]:
# Output for call_query_all_roster_tid for team_id = 2
df = call_query_all_roster_tid(2)
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,1980,2,102,BOS,Boston Celtics,7,Tiny Archibald,PG,6-1,150,1948-09-02,US,8,Texas-El Paso
1,1980,2,246,BOS,Boston Celtics,33,Larry Bird,PF,6-9,220,1956-12-07,US,R,Indiana State University
2,1980,2,479,BOS,Boston Celtics,30,M.L. Carr,SF,6-6,205,1951-01-09,US,4,Guilford College
3,1980,2,516,BOS,Boston Celtics,12,Don Chaney,SG,6-5,210,1946-03-22,US,11,Houston
4,1980,2,620,BOS,Boston Celtics,18,Dave Cowens,C,6-9,230,1948-10-25,US,9,Florida State
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,2020,2,3010,BOS,Boston Celtics,8,Kemba Walker,PG,6-0,184,1990-05-08,US,8,UConn
667,2020,2,3028,BOS,Boston Celtics,9,Brad Wanamaker,PG,6-3,210,1989-07-25,US,1,Pitt
668,2020,2,3046,BOS,Boston Celtics,51,Tremont Waters,PG,5-10,175,1998-01-10,US,R,LSU
669,2020,2,3148,BOS,Boston Celtics,12,Grant Williams,PF,6-6,236,1998-11-30,US,R,Tennessee
670,2020,2,3182,BOS,Boston Celtics,44,Robert Williams,C,6-8,237,1997-10-17,US,1,Texas A&M

In [30]:
# Output for call_query_all_roster_pid for player_id = 2
df = call_query_all_roster_pid(2)
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,1980,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,10,UCLA
1,1981,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,11,UCLA
2,1982,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,12,UCLA
3,1983,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,13,UCLA
4,1984,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,14,UCLA
5,1985,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,15,UCLA
6,1986,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,16,UCLA
7,1987,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,17,UCLA
8,1988,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,18,UCLA
9,1989,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,19,UCLA

In [31]:
# Output for call_query_all_roster_pname for player_name = "Kareem Abdul-Jabbar"
df = call_query_all_roster_pname("Kareem Abdul-Jabbar")
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,1980,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,10,UCLA
1,1981,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,11,UCLA
2,1982,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,12,UCLA
3,1983,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,13,UCLA
4,1984,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,14,UCLA
5,1985,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,15,UCLA
6,1986,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,16,UCLA
7,1987,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,17,UCLA
8,1988,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,18,UCLA
9,1989,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,19,UCLA

In [32]:
# Output for call_query_all_roster_tname for team_name = "Boston Celtics"
df = call_query_all_roster_tname("Boston Celtics")
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,1980,2,102,BOS,Boston Celtics,7,Tiny Archibald,PG,6-1,150,1948-09-02,US,8,Texas-El Paso
1,1980,2,246,BOS,Boston Celtics,33,Larry Bird,PF,6-9,220,1956-12-07,US,R,Indiana State University
2,1980,2,479,BOS,Boston Celtics,30,M.L. Carr,SF,6-6,205,1951-01-09,US,4,Guilford College
3,1980,2,516,BOS,Boston Celtics,12,Don Chaney,SG,6-5,210,1946-03-22,US,11,Houston
4,1980,2,620,BOS,Boston Celtics,18,Dave Cowens,C,6-9,230,1948-10-25,US,9,Florida State
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,2020,2,3010,BOS,Boston Celtics,8,Kemba Walker,PG,6-0,184,1990-05-08,US,8,UConn
667,2020,2,3028,BOS,Boston Celtics,9,Brad Wanamaker,PG,6-3,210,1989-07-25,US,1,Pitt
668,2020,2,3046,BOS,Boston Celtics,51,Tremont Waters,PG,5-10,175,1998-01-10,US,R,LSU
669,2020,2,3148,BOS,Boston Celtics,12,Grant Williams,PF,6-6,236,1998-11-30,US,R,Tennessee
670,2020,2,3182,BOS,Boston Celtics,44,Robert Williams,C,6-8,237,1997-10-17,US,1,Texas A&M

In [33]:
# Output for call_query_all_roster_abv for team_abv = "BOS"
df = call_query_all_roster_abv("BOS")
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,1980,2,102,BOS,Boston Celtics,7,Tiny Archibald,PG,6-1,150,1948-09-02,US,8,Texas-El Paso
1,1980,2,246,BOS,Boston Celtics,33,Larry Bird,PF,6-9,220,1956-12-07,US,R,Indiana State University
2,1980,2,479,BOS,Boston Celtics,30,M.L. Carr,SF,6-6,205,1951-01-09,US,4,Guilford College
3,1980,2,516,BOS,Boston Celtics,12,Don Chaney,SG,6-5,210,1946-03-22,US,11,Houston
4,1980,2,620,BOS,Boston Celtics,18,Dave Cowens,C,6-9,230,1948-10-25,US,9,Florida State
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,2020,2,3010,BOS,Boston Celtics,8,Kemba Walker,PG,6-0,184,1990-05-08,US,8,UConn
667,2020,2,3028,BOS,Boston Celtics,9,Brad Wanamaker,PG,6-3,210,1989-07-25,US,1,Pitt
668,2020,2,3046,BOS,Boston Celtics,51,Tremont Waters,PG,5-10,175,1998-01-10,US,R,LSU
669,2020,2,3148,BOS,Boston Celtics,12,Grant Williams,PF,6-6,236,1998-11-30,US,R,Tennessee
670,2020,2,3182,BOS,Boston Celtics,44,Robert Williams,C,6-8,237,1997-10-17,US,1,Texas A&M

In [34]:
# Output for call_query_all_roster_college for college_name = UCLA
df = call_query_all_roster_college("UCLA")
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,1980,5,1121,CHI,Chicago Bulls,34,Dave Greenwood,PF,6-9,222,1957-05-27,US,R,UCLA
1,1980,9,1164,DET,Detroit Pistons,24,Roy Hamilton,PG,6-2,180,1957-07-20,US,R,UCLA
2,1980,10,2912,GSW,Golden State Warriors,11,Raymond Townsend,SG,6-3,175,1955-12-20,US,1,UCLA
3,1980,13,2118,SDC,San Diego Clippers,31,Swen Nater,C,6-11,240,1950-01-14,NL,6,UCLA
4,1980,13,3024,SDC,San Diego Clippers,32,Bill Walton,C,6-11,210,1952-11-05,US,4,UCLA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,2020,24,283,PHO,Phoenix Suns,43,Jonah Bolden,C,6-8,220,1996-01-02,AU,1,UCLA
485,2020,25,105,POR,Portland Trail Blazers,8,Trevor Ariza,SF,6-8,215,1985-06-30,US,15,UCLA
486,2020,25,391,POR,Portland Trail Blazers,4,Moses Brown,C,7-2,245,1999-10-13,US,R,UCLA
487,2020,26,105,SAC,Sacramento Kings,0,Trevor Ariza,SF,6-8,215,1985-06-30,US,15,UCLA
488,2020,28,2358,TOR,Toronto Raptors,24,Norman Powell,SG,6-3,215,1993-05-25,US,4,UCLA

In [35]:
# Output for call_query_all_roster_sid_tid for season_id = 2020 and team_id = 2
df = call_query_all_roster_sid_tid(2020, 2)
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,2020,2,382,BOS,Boston Celtics,7,Jaylen Brown,SG,6-6,223,1996-10-24,US,3,California
1,2020,2,830,BOS,Boston Celtics,4,Carsen Edwards,SG,5-11,200,1998-03-12,US,R,Purdue
2,2020,2,890,BOS,Boston Celtics,99,Tacko Fall,C,7-5,311,1995-12-10,SN,R,Central Florida
3,2020,2,1107,BOS,Boston Celtics,43,Javonte Green,SG,6-4,205,1993-07-23,US,R,Radford
4,2020,2,1241,BOS,Boston Celtics,20,Gordon Hayward,SF,6-7,225,1990-03-23,US,9,Butler
5,2020,2,1582,BOS,Boston Celtics,11,Enes Kanter,C,6-10,250,1992-05-20,CH,8,None
6,2020,2,1699,BOS,Boston Celtics,45,Romeo Langford,SG,6-4,216,1999-10-25,US,R,Indiana
7,2020,2,2193,BOS,Boston Celtics,37,Semi Ojeleye,PF,6-6,240,1994-12-05,US,2,"Duke, SMU"
8,2020,2,2330,BOS,Boston Celtics,77,Vincent Poirier,C,7-0,235,1993-10-17,FR,R,None
9,2020,2,2671,BOS,Boston Celtics,36,Marcus Smart,SG,6-3,220,1994-03-06,US,5,Oklahoma State
10,2020,2,2813,BOS,Boston Celtics,0,Jayson Tatum,PF,6-8,210,1998-03-03,US,2,Duke
11,2020,2,2842,BOS,Boston Celtics,27,Daniel Theis,C,6-8,245,1992-04-04,DE,2,None
12,2020,2,3010,BOS,Boston Celtics,8,Kemba Walker,PG,6-0,184,1990-05-08,US,8,UConn
13,2020,2,3028,BOS,Boston Celtics,9,Brad Wanamaker,PG,6-3,210,1989-07-25,US,1,Pitt
14,2020,2,3046,BOS,Boston Celtics,51,Tremont Waters,PG,5-10,175,1998-01-10,US,R,LSU
15,2020,2,3148,BOS,Boston Celtics,12,Grant Williams,PF,6-6,236,1998-11-30,US,R,Tennessee
16,2020,2,3182,BOS,Boston Celtics,44,Robert Williams,C,6-8,237,1997-10-17,US,1,Texas A&M

In [36]:
# Output for call_query_all_roster_tid_pid for team_id = 14 and player_id = 2
df = call_query_all_roster_tid_pid(14, 2)
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,1980,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,10,UCLA
1,1981,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,11,UCLA
2,1982,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,12,UCLA
3,1983,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,13,UCLA
4,1984,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,14,UCLA
5,1985,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,15,UCLA
6,1986,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,16,UCLA
7,1987,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,17,UCLA
8,1988,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,18,UCLA
9,1989,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,19,UCLA

In [38]:
# Output for call_query_all_roster_sid_tid_pid for season_id = 1985, team_id = 14 and player_id = 2
df = call_query_all_roster_sid_tid_pid(1985, 14, 2)
df

,Season_ID,Team_ID,Player_ID,Team_ABV,Team_Name,Player_Number,Player_Name,Player_Postion,Player_Height,Player_Weight,Birth_Date,Player_Nationality,Player_Experience,Player_College_Name
0,1985,14,2,LAL,Los Angeles Lakers,33,Kareem Abdul-Jabbar,C,7-2,225,1947-04-16,US,15,UCLA

## Call_Query_Team_Stats
### `call_query_team_stats_minor_one(c_one, t_name, v_one):`
<strong>Tables</strong>
- Team_Advanced 
- Team_Misc

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that determines what gets queried for c_one

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'c_one']
```

### `call_query_team_stats_minor_two(c_one, c_two, t_name, v_one, v_two):`
<strong>Tables</strong>
- Team_Advanced 
- Team_Misc

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `c_two` is a float or a string for the column being queried 
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that determines what gets queried for c_one, if the value in c_one is greater, it gets queried
- `v_two` - is a int that determines what gets queried for c_two, if the value in c_two is greater, it get queried

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `c_one` and `c_two`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'c_one', 'c_two']
```

### `call_query_team_stats_minor_three(c_one, c_two, c_three, table_name, v_one, v_two, v_three):`
<strong>Tables</strong>
- Team_Advanced 
- Team_Misc

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `c_two` is a float or a string for the column being queried 
- `c_three` is a float or a string for the column being queried
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that determines what gets queried for c_one, if the value in c_one is greater, it gets queried
- `v_two` - is a int that determines what gets queried for c_two, if the value in c_two is greater, it get queried
- `v_three` - is a int that determines what gets queried for c_three, if the value in c_three is greater, it get queried

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on `c_one`, `c_two`, and `c_three`
``` 
    ['Season_ID', 'Team_ID', 'Team_Name', 'c_one', 'c_two', c_three]
```

### `call_query_team_stats_major_one(c_one, t_name, v_one):`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that represents the amount is greater than to be queried for c_one

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'Opponent', 'c_one']
```

### `call_query_team_stats_major_two(c_one, c_two, t_name, v_one, v_two):`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `c_two` is a float or a string for the column being queried 
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that determines what gets queried for c_one, if the value in c_one is greater, it gets queried
- `v_two` - is a int that determines what gets queried for c_two, if the value in c_two is greater, it get queried

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one` and `c_two`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'Opponent', 'c_one', 'c_two']
```

### `call_query_team_stats_major_three(c_one, c_two, c_three, t_name, v_one, v_two, v_three):`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `c_two` is a float or a string for the column being queried 
- `c_three` is a float or a string for the column being queried
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that determines what gets queried for c_one, if the value in c_one is greater, it gets queried
- `v_two` - is a int that determines what gets queried for c_two, if the value in c_two is greater, it get queried
- `v_three` - is a int that determines what gets queried for c_three, if the value in c_three is greater, it get queried

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one`, `c_two`, and `c_three`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'Opponent', 'c_one', 'c_two', 'c_three']
```

### `call_query_team_stats_major_op_one(c_one, t_name, v_one):`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that represents the amount is greater than to be queried for c_one

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'Opponent', 'c_one']
```

### `call_query_team_stats_major_op_two(c_one, c_two, t_name, v_one, v_two):`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `c_two` is a float or a string for the column being queried 
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that determines what gets queried for c_one, if the value in c_one is greater, it gets queried
- `v_two` - is a int that determines what gets queried for c_two, if the value in c_two is greater, it get queried

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one` and `c_two`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'Opponent', 'c_one', 'c_two']
```

### `call_query_team_stats_major_op_three(c_one, c_two, c_three, t_name, v_one, v_two, v_three):`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `c_two` is a float or a string for the column being queried 
- `c_three` is a float or a string for the column being queried
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that determines what gets queried for c_one, if the value in c_one is greater, it gets queried
- `v_two` - is a int that determines what gets queried for c_two, if the value in c_two is greater, it get queried
- `v_three` - is a int that determines what gets queried for c_three, if the value in c_three is greater, it get queried

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one`, `c_two`, and `c_three`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'Opponent', 'c_one', 'c_two', 'c_three']
```

### `call_query_team_stats_primary_sid():`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `t_name` - is a string that represents a table's name
- `season_id` - is a unique int that represents a NBA season
- `opponent` - is a binary int that represents regualr team or opponent averages

<strong>Returns:</strong><br>
A pandas dataframe that returns the columns based on `Season_ID` and `opponent`
```
    ['Season_ID', 'Team_ID', 'Opponent', 'Team_Name', 'Points', 'Assists', 'True_Rebounds', 'Steals', Blocks]
```
Where `Season_ID` is equal to the input parameter `season_id`<br>
Where `Opponent` is equal to the input parameter `opponent`

### `call_query_team_stats_primary_tid():`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `t_name` - is a string that represents a table's name
- `team_id` - is a unique int that represents a NBA team
- `opponent` - is a binary int that represents regualr team or opponent averages

<strong>Returns:</strong><br>
A pandas dataframe that returns the columns based on `Team_ID` and `Opponent`
```
    ['Season_ID', 'Team_ID', 'Opponent', 'Team_Name', 'Points', 'Assists', 'True_Rebounds', 'Steals', Blocks]
```
Where `Team_ID` is equal to the input parameter `team_id`<br>
Where `Opponent` is equal to the input parameter `opponent`

### `call_query_team_stats_primary_sid_tid():`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `t_name` - is a string that represents a table's name
- `season_id` - is a unique int that represents a NBA season
- `team_id` - is a unique int that represents a NBA team
- `opponent` - is a binary int that represents regualr team or opponent averages

<strong>Returns:</strong><br>
A pandas dataframe that returns the columns based on `Season_ID`, `Team_ID`, and `Opponent`
```
    ['Season_ID', 'Team_ID', 'Opponent', 'Team_Name', 'Points', 'Assists', 'True_Rebounds', 'Steals', Blocks]
```
Where `Season_ID` is equal to the input parameter `season_id`<br>
Where `Team_ID` is equal to the input parameter `team_id`<br>
Where `Opponent` is equal to the input parameter `opponent`

### `call_query_team_stats_major_compare_one(c_one, t_name, v_one):`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that represents the amount is greater than to be queried for c_one

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'Opponent', 'c_one']
```

### `call_query_team_stats_major_compare_two(c_one, c_two, t_name, v_one, v_two):`
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `c_two` is a float or a string for the column being queried 
- `t_name` - is a string that represents a table's name
- `v_one` - is a int that determines what gets queried for c_one, if the value in c_one is greater, it gets queried
- `v_two` - is a int that determines what gets queried for c_two, if the value in c_two is greater, it get queried

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one` and `c_two`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'Opponent', 'c_one', 'c_two']
```

### `call_query_team_stats_major_compare_three(c_one, c_two, c_three, t_name, v_one, v_two, v_three):` <br>
<strong>Tables</strong>
- Team_Per_Game
- Team_Per_Poss
- Team_Totals 

<strong>Parameters:</strong><br>
- `c_one` is a float or a string for the column being queried 
- `c_two` is a float or a string for the column being queried 
- `c_three` is a float or a string for the column being queried
- `team_name` - is a string that represents a table's name
- `v_one` - is a int that determines what gets queried for c_one, if the value in c_one is greater, it gets queried
- `v_two` - is a int that determines what gets queried for c_two, if the value in c_two is greater, it get queried
- `v_three` - is a int that determines what gets queried for c_three, if the value in c_three is greater, it get queried

<strong>Returns:</strong><br>
A pandas dataframe containing the following columns based on input variable `c_one`, `c_two`, and `c_three`
```
    ['Season_ID', 'Team_ID', 'Team_Name', 'Opponent', 'c_one', 'c_two', 'c_three']
```

### <font color='red'>Import the Functions from Call_Query_Team_Stats</font>

In [2]:
from Call_Query_Team_Stats import *

### Output for Call_Query_Team_Stats

In [3]:
# Output for call_query_team_stats_minor_one 
# col_one = "Offensive_Rating"
# table_name = "Team_Misc"
# val_one = 110
df = call_query_team_stats_minor_one("Offensive_Rating", "Team_Misc", 110)
df

     Season_ID  Team_ID           Team_Name  Offensive_Rating
0         1982        8      Denver Nuggets             114.3
1         1982       14  Los Angeles Lakers             110.2
2         1983       14  Los Angeles Lakers             110.5
3         1983       27   San Antonio Spurs             110.1
4         1984        2      Boston Celtics             110.9
..         ...      ...                 ...               ...
229       2020       26    Sacramento Kings             110.2
230       2020       27   San Antonio Spurs             112.4
231       2020       28     Toronto Raptors             111.1
232       2020       29           Utah Jazz             112.3
233       2020       30  Washington Wizards             110.9

[234 rows x 4 columns]

In [4]:
# Output for call_query_team_stats_minor_two
# col_one = "Offensive_Rating"
# col_two = "Defensive_Rating"
# table_name = "Team_Misc"
# val_one = 110
# val_two = 100
df = call_query_team_stats_minor_two("Offensive_Rating", "Defensive_Rating","Team_Misc", 110, 100)
df

,Season_ID,Team_ID,Team_Name,Offensive_Rating,Defensive_Rating
0,1982,8,Denver Nuggets,114.3,113.9
1,1982,14,Los Angeles Lakers,110.2,105.5
2,1983,14,Los Angeles Lakers,110.5,105.2
3,1983,27,San Antonio Spurs,110.1,106.6
4,1984,2,Boston Celtics,110.9,104.4
...,...,...,...,...,...
227,2020,26,Sacramento Kings,110.2,112.2
228,2020,27,San Antonio Spurs,112.4,113.5
229,2020,28,Toronto Raptors,111.1,105.0
230,2020,29,Utah Jazz,112.3,109.9
231,2020,30,Washington Wizards,110.9,115.5

In [5]:
# Output for call_query_team_stats_minor_three
# col_one = "Offensive_Rating"
# col_two = "Defensive_Rating"
# col_three = "Net_Rating"
# table_name = "Team_Misc"
# val_one = 110
# val_two = 100
# val_three = 9
df = call_query_team_stats_minor_three("Offensive_Rating", "Defensive_Rating", "Net_Rating", "Team_Misc", 110, 100, 9)
df

,Season_ID,Team_ID,Team_Name,Offensive_Rating,Defensive_Rating,Net_Rating
0,1986,2,Boston Celtics,111.8,102.6,9.2
1,1987,14,Los Angeles Lakers,115.6,106.5,9.1
2,1991,5,Chicago Bulls,114.6,105.2,9.4
3,1992,5,Chicago Bulls,115.5,104.5,11.0
4,1994,21,Seattle Supersonics,111.1,101.5,9.6
5,1996,5,Chicago Bulls,115.2,101.8,13.4
6,1997,5,Chicago Bulls,114.4,102.4,12.0
7,1997,29,Utah Jazz,113.6,104.0,9.6
8,2009,6,Cleveland Cavaliers,112.4,102.4,10.0
9,2013,21,Oklahoma City Thunder,112.4,102.6,9.8
10,2015,10,Golden State Warriors,111.6,101.4,10.2
11,2016,10,Golden State Warriors,114.5,103.8,10.7
12,2017,10,Golden State Warriors,115.6,104.0,11.6
13,2020,17,Milwaukee Bucks,112.4,102.9,9.5

In [6]:
# Output for call_query_team_stats_major_one
# c_one = "Field_Goals_Made"
# table_name = "Team_Per_Game"
# v_one = 40
df = call_query_team_stats_major_one("Field_Goals_Made", "Team_Per_Game", 40)
df

     Season_ID  Team_ID            Team_Name  Opponent  Field_Goals_Made
0         1980        2       Boston Celtics         0              44.1
1         1980        3      New Jersey Nets         0              42.1
2         1980        5        Chicago Bulls         0              41.0
3         1980        6  Cleveland Cavaliers         0              46.5
4         1980        8       Denver Nuggets         0              42.2
..         ...      ...                  ...       ...               ...
388       2020       26     Sacramento Kings         0              40.9
389       2020       27    San Antonio Spurs         0              42.2
390       2020       28      Toronto Raptors         0              40.2
391       2020       29            Utah Jazz         0              40.1
392       2020       30   Washington Wizards         0              41.5

[393 rows x 5 columns]

In [7]:
# Output for call_query_team_stats_major_two
# c_one = "Field_Goals_Made"
# c_two = "Field_Goals_Attempted"
# table_name = "Team_Per_Game"
# v_one = 40
# v_two = 90
df = call_query_team_stats_major_two("Field_Goals_Made", "Field_Goals_Attempted", "Team_Per_Game", 40, 90)
df

,Season_ID,Team_ID,Team_Name,Opponent,Field_Goals_Made,Field_Goals_Attempted
0,1980,2,Boston Celtics,0,44.1,90.1
1,1980,3,New Jersey Nets,0,42.1,91.5
2,1980,6,Cleveland Cavaliers,0,46.5,98.1
3,1980,8,Denver Nuggets,0,42.2,91.1
4,1980,9,Detroit Pistons,0,44.4,92.6
...,...,...,...,...,...,...
100,2020,17,Milwaukee Bucks,0,43.3,90.9
101,2020,18,Minnesota Timberwolves,0,40.4,91.6
102,2020,19,New Orleans Pelicans,0,42.6,91.6
103,2020,25,Portland Trail Blazers,0,42.2,91.2
104,2020,30,Washington Wizards,0,41.5,90.9

In [8]:
# Output for call_query_team_stats_major_three
# c_one = "Field_Goals_Made"
# c_two = "Field_Goals_Attempted"
# c_three =  "Field_Goals_Percentage"
# table_name = "Team_Per_Game"
# v_one = 40
# v_two = 90
# v_three = .48
df = call_query_team_stats_major_three("Field_Goals_Made", "Field_Goals_Attempted", "Field_Goals_Percentage","Team_Per_Game", 40, 90, .48)
df

,Season_ID,Team_ID,Team_Name,Opponent,Field_Goals_Made,Field_Goals_Attempted,Field_Goals_Percentage
0,1980,2,Boston Celtics,0,44.1,90.1,0.49
1,1980,17,Milwaukee Bucks,0,44.9,92.1,0.49
2,1980,20,New York Knicks,0,46.4,93.6,0.50
3,1980,27,San Antonio Spurs,0,47.0,94.4,0.50
4,1981,14,Los Angeles Lakers,0,46.1,90.0,0.51
5,1981,17,Milwaukee Bucks,0,45.4,91.1,0.50
6,1981,25,Portland Trail Blazers,0,45.6,91.9,0.50
7,1982,8,Denver Nuggets,0,48.5,93.4,0.52
8,1982,14,Los Angeles Lakers,0,47.8,92.5,0.52
9,1982,27,San Antonio Spurs,0,45.1,92.8,0.49
10,1982,29,Utah Jazz,0,44.9,90.8,0.49
11,1983,2,Boston Celtics,0,45.3,92.0,0.49
12,1983,7,Dallas Mavericks,0,44.8,92.1,0.49
13,1983,8,Denver Nuggets,0,48.2,97.5,0.49
14,1983,14,Los Angeles Lakers,0,48.3,91.6,0.53
15,1983,26,Kansas City Kings,0,45.4,91.3,0.50
16,1984,8,Denver Nuggets,0,48.0,97.4,0.49
17,1984,11,Houston Rockets,0,45.5,91.9,0.50
18,1984,27,San Antonio Spurs,0,47.7,94.2,0.51
19,1985,3,New Jersey Nets,0,44.5,90.8,0.49
20,1985,8,Denver Nuggets,0,47.3,97.3,0.49
21,1985,11,Houston Rockets,0,45.7,90.7,0.50
22,1986,11,Houston Rockets,0,45.8,93.5,0.49
23,1988,25,Portland Trail Blazers,0,44.6,91.0,0.49
24,1988,27,San Antonio Spurs,0,45.2,92.2,0.49
25,1989,20,New York Knicks,0,45.1,92.8,0.49
26,1989,24,Phoenix Suns,0,45.8,92.0,0.50
27,1992,10,Golden State Warriors,0,45.9,90.6,0.51

In [9]:
# Output for call_query_team_stats_major_op_one
# c_one = "Field_Goals_Made"
# table_name = "Team_Per_Game"
# v_one = 40
df = call_query_team_stats_major_op_one("Field_Goals_Made","Team_Per_Game", 40)
df

     Season_ID  Team_ID               Team_Name  Opponent  Field_Goals_Made
0         1980        2          Boston Celtics         1              41.9
1         1980        3         New Jersey Nets         1              42.4
2         1980        5           Chicago Bulls         1              43.7
3         1980        6     Cleveland Cavaliers         1              46.5
4         1980        8          Denver Nuggets         1              45.6
..         ...      ...                     ...       ...               ...
405       2020       25  Portland Trail Blazers         1              41.8
406       2020       26        Sacramento Kings         1              40.3
407       2020       27       San Antonio Spurs         1              42.3
408       2020       29               Utah Jazz         1              40.7
409       2020       30      Washington Wizards         1              43.1

[410 rows x 5 columns]

In [10]:
# Output for call_query_team_stats_major_op_two
# c_one = "Field_Goals_Made"
# c_two = "Field_Goals_Attempted"
# table_name = "Team_Per_Game"
# v_one = 40
# v_two = 90
df = call_query_team_stats_major_op_two("Field_Goals_Made", "Field_Goals_Attempted","Team_Per_Game", 40, 90)
df

,Season_ID,Team_ID,Team_Name,Opponent,Field_Goals_Made,Field_Goals_Attempted
0,1980,3,New Jersey Nets,1,42.4,90.6
1,1980,6,Cleveland Cavaliers,1,46.5,92.8
2,1980,8,Denver Nuggets,1,45.6,92.6
3,1980,9,Detroit Pistons,1,46.9,94.6
4,1980,11,Houston Rockets,1,44.6,90.0
...,...,...,...,...,...,...
118,2020,15,Memphis Grizzlies,1,40.6,90.3
119,2020,18,Minnesota Timberwolves,1,43.1,90.4
120,2020,19,New Orleans Pelicans,1,42.7,91.8
121,2020,25,Portland Trail Blazers,1,41.8,91.6
122,2020,27,San Antonio Spurs,1,42.3,90.2

In [12]:
# Output for call_query_team_stats_major_op_three
# c_one = "Field_Goals_Made"
# c_two = "Field_Goals_Attempted"
# c_three =  "Field_Goals_Percentage"
# table_name = "Team_Per_Game"
# v_one = 40
# v_two = 90
# v_three = .48
df = call_query_team_stats_major_op_three("Field_Goals_Made", "Field_Goals_Attempted", "Field_Goals_Percentage","Team_Per_Game", 40, 90, .48)
df

,Season_ID,Team_ID,Team_Name,Opponent,Field_Goals_Made,Field_Goals_Attempted,Field_Goals_Percentage
0,1980,6,Cleveland Cavaliers,1,46.5,92.8,0.50
1,1980,8,Denver Nuggets,1,45.6,92.6,0.49
2,1980,9,Detroit Pistons,1,46.9,94.6,0.50
3,1980,11,Houston Rockets,1,44.6,90.0,0.50
4,1980,12,Indiana Pacers,1,45.0,92.0,0.49
5,1980,13,San Diego Clippers,1,45.8,91.6,0.50
6,1980,20,New York Knicks,1,45.2,91.4,0.50
7,1980,27,San Antonio Spurs,1,48.8,97.5,0.50
8,1981,8,Denver Nuggets,1,49.5,97.8,0.51
9,1982,5,Chicago Bulls,1,44.6,90.1,0.50
10,1982,8,Denver Nuggets,1,52.0,99.3,0.52
11,1982,14,Los Angeles Lakers,1,45.7,93.6,0.49
12,1982,29,Utah Jazz,1,46.8,91.8,0.51
13,1983,5,Chicago Bulls,1,46.5,94.0,0.50
14,1983,7,Dallas Mavericks,1,45.8,91.2,0.50
15,1983,8,Denver Nuggets,1,50.0,99.0,0.50
16,1983,9,Detroit Pistons,1,46.4,93.6,0.50
17,1983,14,Los Angeles Lakers,1,45.5,92.9,0.49
18,1984,8,Denver Nuggets,1,49.0,94.5,0.52
19,1984,13,San Diego Clippers,1,46.0,90.3,0.51
20,1984,27,San Antonio Spurs,1,48.7,96.5,0.50
21,1985,8,Denver Nuggets,1,46.0,90.0,0.51
22,1985,9,Detroit Pistons,1,45.1,90.9,0.50
23,1985,13,Los Angeles Clippers,1,45.6,93.0,0.49
24,1985,25,Portland Trail Blazers,1,45.1,91.4,0.49
25,1985,26,Kansas City Kings,1,46.4,91.0,0.51
26,1986,7,Dallas Mavericks,1,47.1,93.8,0.50
27,1986,8,Denver Nuggets,1,44.4,90.3,0.49
28,1986,10,Golden State Warriors,1,47.1,90.6,0.52
29,1986,11,Houston Rockets,1,44.4,90.3,0.49
30,1986,13,Los Angeles Clippers,1,46.9,92.5,0.51
31,1987,26,Sacramento Kings,1,44.6,91.1,0.49
32,1988,26,Sacramento Kings,1,45.3,91.0,0.50
33,1988,27,San Antonio Spurs,1,47.0,93.6,0.50
34,1989,8,Denver Nuggets,1,45.1,91.3,0.50
35,1990,22,Orlando Magic,1,47.1,94.6,0.50
36,1991,8,Denver Nuggets,1,49.7,97.1,0.51
37,1992,4,Charlotte Hornets,1,45.3,91.4,0.50
38,1993,23,Philadelphia 76Ers,1,44.7,92.0,0.49

In [17]:
# Output for call_query_team_stats_primary_sid
# table_name = "Team_Per_Game"
# season_id = 2020
# opponent = 0 
df = call_query_team_stats_primary_sid("Team_Per_Game", 2020, 0)
df

,Season_ID,Team_ID,Opponent,Team_Name,Points,Assists,True_Rebounds,Steals,Blocks
0,2020,1,0,Atlanta Hawks,111.8,24.0,43.3,7.8,5.1
1,2020,2,0,Boston Celtics,113.7,23.0,46.1,8.3,5.6
2,2020,3,0,Brooklyn Nets,111.8,24.5,47.9,6.4,4.5
3,2020,4,0,Charlotte Hornets,102.9,23.8,42.8,6.6,4.1
4,2020,5,0,Chicago Bulls,106.8,23.2,41.9,10.0,4.1
5,2020,6,0,Cleveland Cavaliers,106.9,23.1,44.2,6.9,3.2
6,2020,7,0,Dallas Mavericks,117.0,24.7,46.9,6.1,4.8
7,2020,8,0,Denver Nuggets,111.3,26.7,44.1,8.0,4.6
8,2020,9,0,Detroit Pistons,107.2,24.1,41.7,7.4,4.5
9,2020,10,0,Golden State Warriors,106.3,25.6,42.8,8.2,4.6
10,2020,11,0,Houston Rockets,117.8,21.6,44.3,8.7,5.2
11,2020,12,0,Indiana Pacers,109.4,25.9,42.8,7.4,5.2
12,2020,13,0,Los Angeles Clippers,116.3,23.7,47.7,7.1,4.7
13,2020,14,0,Los Angeles Lakers,113.4,25.4,45.7,8.6,6.6
14,2020,15,0,Memphis Grizzlies,112.6,26.9,46.5,7.9,5.5
15,2020,16,0,Miami Heat,112.0,25.9,44.4,7.5,4.5
16,2020,17,0,Milwaukee Bucks,118.7,25.9,51.7,7.2,5.9
17,2020,18,0,Minnesota Timberwolves,113.3,23.8,44.8,8.7,5.7
18,2020,19,0,New Orleans Pelicans,115.8,26.8,46.5,7.5,5.0
19,2020,20,0,New York Knicks,105.8,22.1,46.5,7.6,4.7
20,2020,21,0,Oklahoma City Thunder,110.4,21.7,42.9,7.6,4.9
21,2020,22,0,Orlando Magic,107.3,23.9,44.5,8.2,5.4
22,2020,23,0,Philadelphia 76Ers,110.7,25.8,45.4,8.0,5.3
23,2020,24,0,Phoenix Suns,113.6,27.2,43.5,7.7,4.0
24,2020,25,0,Portland Trail Blazers,115.0,20.6,45.3,6.3,6.1
25,2020,26,0,Sacramento Kings,110.1,23.8,42.6,7.7,4.1
26,2020,27,0,San Antonio Spurs,114.1,24.7,44.6,7.3,5.5
27,2020,28,0,Toronto Raptors,112.8,25.2,45.4,8.8,5.0
28,2020,29,0,Utah Jazz,111.3,22.4,44.9,6.1,4.1
29,2020,30,0,Washington Wizards,114.4,25.0,42.0,8.0,4.3

In [18]:
# Output for call_query_team_stats_primary_tid
# table_name = "Team_Per_Game"
# team_id = 2 
# opponent = 0
df = call_query_team_stats_primary_tid("Team_Per_Game", 2, 0)
df

,Season_ID,Team_ID,Opponent,Team_Name,Points,Assists,True_Rebounds,Steals,Blocks
0,1980,2,0,Boston Celtics,113.5,26.8,44.9,9.9,3.8
1,1981,2,0,Boston Celtics,109.9,26.9,43.6,8.3,7.2
2,1982,2,0,Boston Celtics,112.0,25.9,45.6,8.0,6.9
3,1983,2,0,Boston Celtics,112.1,27.0,46.4,9.6,6.4
4,1984,2,0,Boston Celtics,112.1,25.9,45.1,8.2,5.2
5,1985,2,0,Boston Celtics,114.8,27.9,45.7,7.9,5.0
6,1986,2,0,Boston Celtics,114.1,29.1,46.4,7.8,6.2
7,1987,2,0,Boston Celtics,112.6,29.5,42.9,6.8,6.4
8,1988,2,0,Boston Celtics,113.6,29.9,41.1,7.6,5.1
9,1989,2,0,Boston Celtics,109.2,26.7,44.2,7.8,5.1
10,1990,2,0,Boston Celtics,110.0,29.5,46.0,6.6,5.5
11,1991,2,0,Boston Celtics,111.5,26.3,46.2,8.2,6.9
12,1992,2,0,Boston Celtics,106.6,25.3,44.9,7.8,5.9
13,1993,2,0,Boston Celtics,103.7,24.4,42.8,7.9,5.6
14,1994,2,0,Boston Celtics,100.8,23.5,41.7,8.2,5.4
15,1995,2,0,Boston Celtics,102.8,21.7,42.4,7.5,4.4
16,1996,2,0,Boston Celtics,103.6,21.9,42.4,8.0,5.0
17,1997,2,0,Boston Celtics,100.6,21.9,40.0,9.9,3.8
18,1998,2,0,Boston Celtics,95.9,22.1,39.5,12.0,4.5
19,1999,2,0,Boston Celtics,93.0,21.5,42.8,9.1,5.1
20,2000,2,0,Boston Celtics,99.3,21.2,43.0,9.7,3.5
21,2001,2,0,Boston Celtics,94.6,20.8,39.8,9.4,4.1
22,2002,2,0,Boston Celtics,96.4,21.0,42.2,9.7,3.6
23,2003,2,0,Boston Celtics,92.7,19.2,40.5,8.8,3.7
24,2004,2,0,Boston Celtics,95.3,20.5,40.1,9.4,4.0
25,2005,2,0,Boston Celtics,101.3,22.1,40.8,8.1,5.2
26,2006,2,0,Boston Celtics,98.0,20.9,39.6,7.0,5.1
27,2007,2,0,Boston Celtics,95.8,19.9,40.4,7.2,4.7
28,2008,2,0,Boston Celtics,100.5,22.4,42.0,8.5,4.6
29,2009,2,0,Boston Celtics,100.9,22.7,42.1,7.6,4.7
30,2010,2,0,Boston Celtics,99.2,23.5,38.6,8.5,4.9
31,2011,2,0,Boston Celtics,96.5,23.4,38.8,8.2,4.2
32,2012,2,0,Boston Celtics,91.8,23.6,38.8,7.5,5.5
33,2013,2,0,Boston Celtics,96.5,22.8,39.3,8.2,4.5
34,2014,2,0,Boston Celtics,96.2,21.0,42.5,7.1,4.2
35,2015,2,0,Boston Celtics,101.4,24.5,43.8,8.2,3.6
36,2016,2,0,Boston Celtics,105.7,24.2,44.9,9.2,4.2
37,2017,2,0,Boston Celtics,108.0,25.2,42.0,7.5,4.1
38,2018,2,0,Boston Celtics,104.0,22.5,44.5,7.4,4.5
39,2019,2,0,Boston Celtics,112.4,26.3,44.5,8.6,5.3
40,2020,2,0,Boston Celtics,113.7,23.0,46.1,8.3,5.6

In [19]:
# Output for call_query_team_stats_primary_sid_tid
# table_name = "Team_Per_Game"
# season_id = 2020
# team_id = 2 
# oppoonent = 0
df = call_query_team_stats_primary_sid_tid("Team_Per_Game", 2020, 2, 0)
df

,Season_ID,Team_ID,Opponent,Team_Name,Points,Assists,True_Rebounds,Steals,Blocks
0,2020,2,0,Boston Celtics,113.7,23.0,46.1,8.3,5.6

In [13]:
# Output for call_query_team_stats_major_compare_one
# c_one = "Field_Goals_Made"
# table_name = "Team_Per_Game"
# v_one = 40
df = call_query_team_stats_major_compare_one("Field_Goals_Made","Team_Per_Game", 40)
df

     Season_ID  Team_ID           Team_Name  Opponent  Field_Goals_Made
0         1980        2      Boston Celtics         0              44.1
1         1980        2      Boston Celtics         1              41.9
2         1980        3     New Jersey Nets         0              42.1
3         1980        3     New Jersey Nets         1              42.4
4         1980        5       Chicago Bulls         0              41.0
..         ...      ...                 ...       ...               ...
798       2020       28     Toronto Raptors         0              40.2
799       2020       29           Utah Jazz         0              40.1
800       2020       29           Utah Jazz         1              40.7
801       2020       30  Washington Wizards         0              41.5
802       2020       30  Washington Wizards         1              43.1

[803 rows x 5 columns]

In [15]:
# Output for call_query_team_stats_major_compare_two
# c_one = "Field_Goals_Made"
# c_two = "Field_Goals_Attempted"
# table_name = "Team_Per_Game"
# v_one = 40
# v_two = 90
df = call_query_team_stats_major_compare_two("Field_Goals_Made", "Field_Goals_Attempted","Team_Per_Game", 40, 90)
df

,Season_ID,Team_ID,Team_Name,Opponent,Field_Goals_Made,Field_Goals_Attempted
0,1980,2,Boston Celtics,0,44.1,90.1
1,1980,3,New Jersey Nets,0,42.1,91.5
2,1980,3,New Jersey Nets,1,42.4,90.6
3,1980,6,Cleveland Cavaliers,0,46.5,98.1
4,1980,6,Cleveland Cavaliers,1,46.5,92.8
...,...,...,...,...,...,...
223,2020,19,New Orleans Pelicans,1,42.7,91.8
224,2020,25,Portland Trail Blazers,0,42.2,91.2
225,2020,25,Portland Trail Blazers,1,41.8,91.6
226,2020,27,San Antonio Spurs,1,42.3,90.2
227,2020,30,Washington Wizards,0,41.5,90.9

In [16]:
# Output for call_query_team_stats_major_compare_three
# c_one = "Field_Goals_Made"
# c_two = "Field_Goals_Attempted"
# c_three =  "Field_Goals_Percentage"
# table_name = "Team_Per_Game"
# v_one = 40
# v_two = 90
# v_three = .48
df = call_query_team_stats_major_compare_three("Field_Goals_Made", "Field_Goals_Attempted", "Field_Goals_Percentage","Team_Per_Game", 40, 90, .48)
df

,Season_ID,Team_ID,Team_Name,Opponent,Field_Goals_Made,Field_Goals_Attempted,Field_Goals_Percentage
0,1980,2,Boston Celtics,0,44.1,90.1,0.49
1,1980,6,Cleveland Cavaliers,1,46.5,92.8,0.50
2,1980,8,Denver Nuggets,1,45.6,92.6,0.49
3,1980,9,Detroit Pistons,1,46.9,94.6,0.50
4,1980,11,Houston Rockets,1,44.6,90.0,0.50
...,...,...,...,...,...,...,...
62,1990,22,Orlando Magic,1,47.1,94.6,0.50
63,1991,8,Denver Nuggets,1,49.7,97.1,0.51
64,1992,4,Charlotte Hornets,1,45.3,91.4,0.50
65,1992,10,Golden State Warriors,0,45.9,90.6,0.51
66,1993,23,Philadelphia 76Ers,1,44.7,92.0,0.49

## Call_Query_Team_Advanced
### `call_query_all_team_advanced_sid():`
### `call_query_all_team_advanced_tid():`
### `call_query_all_team_advanced_sid_tid():`
### `call_query_all_team_advanced_name():`
### `call_query_all_team_advanced_ABV():`
### `call_query_all_team_advanced_both_sid():`
### `call_query_all_team_advanced_both_tid():`
### `call_query_all_team_advanced_both_sid_tid():`
### `call_query_all_team_advanced_both_name():`
### `call_query_all_team_advanced_both_ABV():`

### <font color='red'>Import the Functions from Call_Query_Team_Advanced</font>

### Output for Call_Query_Team_Advanced

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Team_Misc
### `call_query_all_team_misc_sid():`
### `call_query_all_team_misc_tid():`
### `call_query_all_team_misc_sid_tid():`
### `call_query_all_team_misc_name():`
### `call_query_all_team_misc_ABV():`
### `call_query_all_team_misc_both_sid():`
### `call_query_all_team_misc_both_tid():`
### `call_query_all_team_misc_both_sid_tid():`
### `call_query_all_team_misc_both_name():`
### `call_query_all_team_misc_both_ABV():`

### <font color='red'>Import the Functions from Call_Query_Team_Misc</font>

### Output for Call_Query_Team_Misc

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Team_Per_Game
### `call_query_all_team_per_game_sid():`
### `call_query_all_team_per_game_tid():`
### `call_query_all_team_per_game_sid_tid():`
### `call_query_all_team_per_game_name():`
### `call_query_all_team_per_game_ABV():`
### `call_query_all_team_per_game_both_sid():`
### `call_query_all_team_per_game_both_tid():`
### `call_query_all_team_per_game_both_sid_tid():`
### `call_query_all_team_per_game_both_name():`
### `call_query_all_team_per_game_both_ABV():`

### <font color='red'>Import the Functions from Call_Query_Team_Per_Game</font>

### Output for Call_Query_Team_Per_Game

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Team_Per_Poss
### `call_query_all_team_per_poss_sid():`
### `call_query_all_team_per_poss_tid():`
### `call_query_all_team_per_poss_sid_tid():`
### `call_query_all_team_per_poss_name():`
### `call_query_all_team_per_poss_ABV():`
### `call_query_all_team_per_poss_both_sid():`
### `call_query_all_team_per_poss_both_tid():`
### `call_query_all_team_per_poss_both_sid_tid():`
### `call_query_all_team_per_poss_both_name():`
### `call_query_all_team_per_poss_both_ABV():`

### <font color='red'>Import the Functions from Call_Query_Team</font>

### Output for Call_Query_Team_Per_Poss

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [1]:
# Output

## Call_Query_Team_Totals
### `call_query_all_team_totals_sid():`
### `call_query_all_team_totals_tid():`
### `call_query_all_team_totals_sid_tid():`
### `call_query_all_team_totals_name():`
### `call_query_all_team_totals_ABV():`
### `call_query_all_team_totals_both_sid():`
### `call_query_all_team_totals_both_tid():`
### `call_query_all_team_totals_both_sid_tid():`
### `call_query_all_team_totals_both_name():`
### `call_query_all_team_totals_both_ABV():`

### <font color='red'>Import the Functions from Call_Query_Team_Totals</font>

### Output for Call_Query_Team_Totals

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Stats
### `call_query_player_stats_one_pid():`
### `call_query_player_stats_two_pid():`
### `call_query_player_stats_three_pid():`
### `call_query_player_stats_primary_pid():`
### `call_query_player_stats_one_above_pid():`
### `call_query_player_stats_two_above_pid():`
### `call_query_player_stats_three_above_pid():`

### `call_query_player_stats_one_tid_pid():`
### `call_query_player_stats_two_tid_pid():`
### `call_query_player_stats_three_tid_pid():`
### `call_query_player_stats_primary_tid_pid():`
### `call_query_player_stats_one_above_tid_pid():`
### `call_query_player_stats_two_above_tid_pid():`
### `call_query_player_stats_three_above_tid_pid():`

### `call_query_player_stats_one_sid_pid():`
### `call_query_player_stats_two_sid_pid():`
### `call_query_player_stats_three_sid_pid():`
### `call_query_player_stats_primary_sid_pid():`

### `call_query_player_stats_one_both_pid():`
### `call_query_player_stats_two_both_pid():`
### `call_query_player_stats_three_both_pid():`
### `call_query_player_stats_primary_both_pid():`
### `call_query_player_stats_one_both_above_pid():`
### `call_query_player_stats_two_both_above_pid():`
### `call_query_player_stats_three_both_above_pid():`

### `call_query_player_stats_one_both_tid_pid():`
### `call_query_player_stats_two_both_tid_pid():`
### `call_query_player_stats_three_both_tid_pid():`
### `call_query_player_stats_primary_both_tid_pid():`
### `call_query_player_stats_one_both_above_tid_pid():`
### `call_query_player_stats_two_both_above_tid_pid():`
### `call_query_player_stats_three_both_above_tid_pid():`

### `call_query_player_stats_one_both_sid_pid():`
### `call_query_player_stats_two_both_sid_pid():`
### `call_query_player_stats_three_both_sid_pid():`
### `call_query_player_stats_primary_both_sid_pid():`

### <font color='red'>Import the Functions from Call_Query_Player_Stats</font>

### Output for Call_Query_Player_Stats

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Advanced
### `call_query_all_player_advanced_pid():`

### `call_query_all_player_advanced_sid_pid():`

### `call_query_all_player_advanced_tid_pid():`

### `call_query_all_player_advanced_pname():`

### `call_query_all_player_advanced_pname_sid():`

### `call_query_all_player_advanced_pname_tid():`

### `call_query_all_player_advanced_both_pid():`

### `call_query_all_player_advanced_both_sid_pid():`

### `call_query_all_player_advanced_both_tid_pid():`

### `call_query_all_player_advanced_both_pname():`

### `call_query_all_player_advanced_both_pname_sid():`

### `call_query_all_player_advanced_both_pname_tid():`

### <font color='red'>Import the Functions from Call_Query_Player_Advanced</font>

### Output for Call_Query_Player_Advanced

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Per_Game
### `call_query_all_player_per_game_pid():`

### `call_query_all_player_per_game_sid_pid():`

### `call_query_all_player_per_game_tid_pid():`

### `call_query_all_player_per_game_pname():`

### `call_query_all_player_per_game_pname_sid():`

### `call_query_all_player_per_game_pname_tid():`

### `call_query_all_player_per_game_both_pid():`

### `call_query_all_player_per_game_both_sid_pid():`

### `call_query_all_player_per_game_both_tid_pid():`

### `call_query_all_player_per_game_both_pname():`

### `call_query_all_player_per_game_both_pname_sid():`

### `call_query_all_player_per_game_both_pname_tid():`

### <font color='red'>Import the Functions from Call_Query_Player_Per_Game</font>

### Output for Call_Query_Player_Per_Game

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Per_Minute
### `call_query_all_player_per_minute_pid():`

### `call_query_all_player_per_minute_sid_pid():`

### `call_query_all_player_per_minute_tid_pid():`

### `call_query_all_player_per_minute_pname():`

### `call_query_all_player_per_minute_pname_sid():`

### `call_query_all_player_per_minute_pname_tid():`

### `call_query_all_player_per_minute_both_pid():`

### `call_query_all_player_per_minute_both_sid_pid():`

### `call_query_all_player_per_minute_both_tid_pid():`

### `call_query_all_player_per_minute_both_pname():`

### `call_query_all_player_per_minute_both_pname_sid():`

### `call_query_all_player_per_minute_both_pname_tid():`

### <font color='red'>Import the Functions from Call_Query_Player_Per_Minute</font>

### Output for Call_Query_Player_Per_Minute

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Per_Poss
### `call_query_all_player_per_poss_pid():`

### `call_query_all_player_per_poss_sid_pid():`

### `call_query_all_player_per_poss_tid_pid():`

### `call_query_all_player_per_poss_pname():`

### `call_query_all_player_per_poss_pname_sid():`

### `call_query_all_player_per_poss_pname_tid():`

### `call_query_all_player_per_poss_both_pid():`

### `call_query_all_player_per_poss_both_sid_pid():`

### `call_query_all_player_per_poss_both_tid_pid():`

### `call_query_all_player_per_poss_both_pname():`

### `call_query_all_player_per_poss_both_pname_sid():`

### `call_query_all_player_per_poss_both_pname_tid():`

### <font color='red'>Import the Functions from Call_Query_Player_Per_Poss</font>

### Output for Call_Query_Player_Per_Poss

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Totals
### `call_query_all_player_totals_pid():`

### `call_query_all_player_totals_sid_pid():`

### `call_query_all_player_totals_tid_pid():`

### `call_query_all_player_totals_pname():`

### `call_query_all_player_totals_pname_sid():`

### `call_query_all_player_totals_pname_tid():`

### `call_query_all_player_totals_both_pid():`

### `call_query_all_player_totals_both_sid_pid():`

### `call_query_all_player_totals_both_tid_pid():`

### `call_query_all_player_totals_both_pname():`

### `call_query_all_player_totals_both_pname_sid():`

### `call_query_all_player_totals_both_pname_tid():`

### <font color='red'>Import the Functions from Call_Query_Player_Totals</font>

### Output for Call_Query_Player_Totals

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Career_Stats
### `call_query_player_career_stats_one_pid():`

### `call_query_player_career_stats_two_pid():`

### `call_query_player_career_stats_three_pid():`

### `call_query_player_career_stats_primary_pid():`

### `call_query_player_career_stats_one_both_pid():`

### `call_query_player_career_stats_two_both_pid():`

### `call_query_player_career_stats_three_both_pid():`

### `call_query_player_career_stats_primary_both_pid():`

### <font color='red'>Import the Functions from Call_Query_Player_Career_Stats</font>

## Output for Call_Query_Player_Career_Stats

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Career_Advanced
### `call_query_player_career_advanced_pid():`

### `call_query_player_career_advanced_pname():`

### `call_query_player_career_advanced_both_pid():`

### `call_query_player_career_advanced_both_pname():`

### <font color='red'>Import the Functions from Call_Query_Player_Career_Advanced</font>

### Output for Call_Query_Player_Career_Advanced

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Career_Per_Game
### `call_query_player_career_per_game_pid():`

### `call_query_player_career_per_game_pname():`

### `call_query_player_career_per_game_both_pid():`

### `call_query_player_career_per_game_both_pname():`

### <font color='red'>Import the Functions from Call_Query_Player_Career_Per_Game</font>

### Output for Call_Query_Player_Career_Per_Game

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Career_Per_Minute
### `call_query_player_career_per_minute_pid():`

### `call_query_player_career_per_minute_pname():`

### `call_query_player_career_per_minute_both_pid():`

### `call_query_player_career_per_minute_both_pname():`

### <font color='red'>Import the Functions from Call_Query_Player_Career_Per_Minute</font>

### Output for Call_Query_Player_Career_Per_Minute

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Career_Per_Poss
### `call_query_player_career_per_poss_pid():`

### `call_query_player_career_per_poss_pname():`

### `call_query_player_career_per_poss_both_pid():`

### `call_query_player_career_per_poss_both_pname():`

### <font color='red'>Import the Functions from Call_Query_Player_Career_Per_Poss</font>

### Output for Call_Query_Player_Career_Per_Poss

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Call_Query_Player_Career_Totals
### `call_query_player_career_totals_pid():`

### `call_query_player_career_totals_pname():`

### `call_query_player_career_totals_both_pid():`

### `call_query_player_career_totals_both_pname():`

### <font color='red'>Import the Functions from Call_Query_Player_Career_Totals</font>

### Output for Call_Query_Player_Career_Totals

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Constants

## Regular_Expression

#  <font color='blue'>/Queries</font>

## Create_All_Queries.py

### <font color='red'>Import the Functions from Create_All_Queries.py</font>

In [ ]:
# Output

## Drop_All_Queries.py

### <font color='red'>Import the Functions from Drop_All_Queries.py</font>

In [ ]:
# Output

## <font color='blue'> Primary Queries</font>

## Query_Team.py
### `create_query_all_team_sid():`

### `create_query_all_team_tid():`

### `create_query_all_team_name():`

### `create_query_all_team_ABV():`

### `create_query_team_name():`

### `create_query_team_abv():`

### `create_team_query():`

### `drop_query_all_team_sid():`

### `drop_query_all_team_tid():`

### `drop_query_all_team_name():`

### `drop_query_all_team_ABV():`

### `drop_query_team_name():`

### `drops_query_team_abv():`

### `drop_team_query():`

### <font color='red'>Import the Functions from Query_Team.py</font>

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Query_Player.py
### `create_query_all_player_pid():`

### `create_query_all_player_name_dob():`

### `create_query_player_name():`

### `create_player_query():`

### `drop_query_all_player_pid():`

### `drop_query_all_player_name_dob():`

### `drop_query_player_name():`

### `drop_player_query():`

### <font color='red'>Import the Functions from Query_Player.py</font>

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## <font color='blue'> Season Queries</font>

## Query_Conference_Standings.py
### `create_query_all_cs_sid():`

### `create_query_all_cs_tid():`

### `create_query_all_cs_name():`

### `create_query_all_cs_ABV():`

### `create_query_all_cs_win():`

### `create_query_all_cs_wl():`

### `create_query_all_cs_sid_ew():`

### `create_query_cs_win():`

### `create_cs_query():`

### `drop_query_all_cs_sid():`

### `drop_query_all_cs_tid():`

### `drop_query_all_cs_name():`

### `drop_query_all_cs_ABV():`

### `drop_query_all_cs_win():`

### `drop_query_all_cs_wl():`

### `drop_query_all_cs_sid_ew():`

### `drop_query_cs_win():`

### `drop_cs_query():`

### <font color='red'>Import the Functions from Query_Conference_Stadings.py</font>

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## <font color='blue'> Team Queries</font>

## Query_Roster.py
### `create_query_all_roster_sid():`

### `create_query_all_roster_tid():`

### `create_query_all_roster_pid():`

### `create_query_all_roster_pname():`

### `create_query_all_roster_tname():`

### `create_query_all_roster_abv():`

### `create_query_all_roster_college():`

### `create_query_all_roster_sid_tid():`

### `create_query_all_roster_tid_pid():`

### `create_query_all_roster_sid_tid_pid():`

### `create_roster_query():`

### `drop_query_all_roster_sid():`

### `drop_query_all_roster_tid():`

### `drop_query_all_roster_pid():`

### `drop_query_all_roster_pname():`

### `drop_query_all_roster_tname():`

### `drop_query_all_roster_abv():`

### `drop_query_all_roster_college():`

### `drop_query_all_roster_sid_tid():`

### `drop_query_all_roster_tid_pid():`

### `drop_query_all_roster_sid_tid_pid():`

###  `drop_roster_query():`

### <font color='red'>Import the Functions from Query_Roster.py</font>

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Query_Team_Stats.py
### `create_query_team_stats_minor_one():`
### `create_query_team_stats_minor_two():`
### `create_query_team_stats_minor_three():`

### `create_query_team_stats_major_one():`
### `create_query_team_stats_major_two():`
### `create_query_team_stats_major_three():`

### `create_query_team_stats_major_op_one():`
### `create_query_team_stats_major_op_two():`
### `create_query_team_stats_major_op_three():`

### `create_query_team_stats_primary_sid():`
### `create_query_team_stats_primary_tid():`
### `create_query_team_stats_primary_sid_tid():`

### `create_query_team_stats_major_compare_one():`
### `create_query_team_stats_major_compare_two():`
### `create_query_team_stats_major_compare_three():`
### `create_team_stats_query():`

### `drop_query_team_stats_minor_one():`
### `drop_query_team_stats_minor_two():`
### `drop_query_team_stats_minor_three():`

### `drop_query_team_stats_major_one():`
### `drop_query_team_stats_major_two():`
### `drop_query_team_stats_major_three():`

### `drop_query_team_stats_major_op_one():`
### `drop_query_team_stats_major_op_two():`
### `drop_query_team_stats_major_op_three():`

### `drop_query_team_stats_primary_sid():`
### `drop_query_team_stats_primary_tid():`
### `drop_query_team_stats_primary_sid_tid():`

### `drop_query_team_stats_major_compare_one():`
### `drop_query_team_stats_major_compare_two():`
### `drop_query_team_stats_major_compare_three():`

### <font color='red'>Import the Functions from Query_Team_Stats.py</font>

SyntaxError: invalid syntax (<ipython-input-8-edd0dda2e04a>, line 1)

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

In [ ]:
# Output

## Query_Team_Advanced.py
### `create_query_all_team_advanced_sid():`
### `create_query_all_team_advanced_tid():`
### `create_query_all_team_advanced_sid_tid():`
### `create_query_all_team_advanced_name():`
### `create_query_all_team_advanced_ABV():`
### `create_team_advanced_query():`

### `drop_query_all_team_advanced_sid():`
### `drop_query_all_team_advanced_tid():`
### `drop_query_all_team_advanced_sid_tid():`
### `drop_query_all_team_advanced_name():`
### `drop_query_all_team_advanced_ABV():`
### `drop_team_advanced_query():`

### <font color='red'>Import the Functions from Query_Team_Advanced.py</font>

In [2]:
# Output

In [3]:
# Output

In [4]:
# Output

In [5]:
# Output

## Query_Team_Per_Game.py

### `create_query_all_team_per_game_sid():`
### `create_query_all_team_per_game_tid():`
### `create_query_all_team_per_game_sid_tid():`
### `create_query_all_team_per_game_name():`
### `create_query_all_team_per_game_ABV():`

### `create_query_all_team_per_game_both_sid():`
### `create_query_all_team_per_game_both_tid():`
### `create_query_all_team_per_game_both_sid_tid():`
### `create_query_all_team_per_game_both_name():`
### `create_query_all_team_per_game_both_ABV():`
### `create_team_per_game_query():`
### `drop_query_all_team_per_game_sid():`
### `drop_query_all_team_per_game_tid():`
### `drop_query_all_team_per_game_sid_tid():`
### `drop_query_all_team_per_game_name():`
### `drop_query_all_team_per_game_ABV():`

### `drop_query_all_team_per_game_both_sid():`
### `drop_query_all_team_per_game_both_tid():`
### `drop_query_all_team_per_game_both_sid_tid():`
### `drop_query_all_team_per_game_both_name():`
### `drop_query_all_team_per_game_both_ABV():`
### `drop_team_per_game_query():`

### <font color='red'>Import the Functions from Query_Team_Per_Game.py</font>

In [6]:
# Output

In [7]:
# Output

In [8]:
# Output

In [9]:
# Output

## Query_Team_Per_Poss.py
### `create_team_per_poss_query():`
### `create_query_all_team_per_poss_sid():`
### `create_query_all_team_per_poss_tid():`
### `create_query_all_team_per_poss_sid_tid():`
### `create_query_all_team_per_poss_name():`
### `create_query_all_team_per_poss_ABV():`

### `create_query_all_team_per_poss_both_sid():`
### `create_query_all_team_per_poss_both_tid():`
### `create_query_all_team_per_poss_both_sid_tid():`
### `create_query_all_team_per_poss_both_name():`
### `create_query_all_team_per_poss_both_ABV():`
### `drop_query_all_team_per_poss_sid():`
### `drop_query_all_team_per_poss_tid():`
### `drop_query_all_team_per_poss_sid_tid():`
### `drop_query_all_team_per_poss_name():`
### `drop_query_all_team_per_poss_ABV():`

### `drop_query_all_team_per_poss_both_sid():`
### `drop_query_all_team_per_poss_both_tid():`
### `drop_query_all_team_per_poss_both_sid_tid():`
### `drop_query_all_team_per_poss_both_name():`
### `drop_query_all_team_per_poss_both_ABV():`
### `drop_team_per_poss_query():`

### <font color='red'>Import the Functions from Query_Team_Per_Poss.py</font>

In [10]:
# Output

In [11]:
# Output

In [12]:
# Output

In [13]:
# Output

## Query_Team_Totals.py
### `create_query_all_team_totals_sid():`
### `create_query_all_team_totals_tid():`
### `create_query_all_team_totals_sid_tid():`
### `create_query_all_team_totals_name():`
### `create_query_all_team_totals_ABV():`
### `create_query_all_team_totals_both_sid():`
### `create_query_all_team_totals_both_tid():`
### `create_query_all_team_totals_both_sid_tid():`
### `create_query_all_team_totals_both_name():`
### `create_query_all_team_totals_both_ABV():`
### `create_team_totals_query():`
### `drop_query_all_team_totals_sid():`
### `drop_query_all_team_totals_tid():`
### `drop_query_all_team_totals_sid_tid():`
### `drop_query_all_team_totals_name():`
### `drop_query_all_team_totals_ABV():`
### `drop_query_all_team_totals_both_sid():`
### `drop_query_all_team_totals_both_tid():`
### `drop_query_all_team_totals_both_sid_tid():`
### `drop_query_all_team_totals_both_name():`
### `drop_query_all_team_totals_both_ABV():`
### `drop_team_totals_query():`

### <font color='red'>Import the Functions from Query_Team_Totals.py</font>

In [14]:
# Output

In [15]:
# Output

In [16]:
# Output

In [17]:
# Output

##  <font color='blue'> Player Stats Queries</font>

## Query_Player_Stats.py
### `create_query_player_stats_one_pid():`
### `create_query_player_stats_two_pid():`
### `create_query_player_stats_three_pid():`
### `create_query_player_stats_primary_pid():`
### `create_query_player_stats_one_above_pid():`
### `create_query_player_stats_two_above_pid():`
### `create_query_player_stats_three_above_pid():`

### `create_query_player_stats_one_tid_pid():`
### `create_query_player_stats_two_tid_pid():`
### `create_query_player_stats_three_tid_pid():`
### `create_query_player_stats_primary_tid_pid():`
### `create_query_player_stats_one_above_tid_pid():`
### `create_query_player_stats_two_above_tid_pid():`
### `create_query_player_stats_three_above_tid_pid():`

### `create_query_player_stats_one_sid_pid():`
### `create_query_player_stats_two_sid_pid():`
### `create_query_player_stats_three_sid_pid():`
### `create_query_player_stats_primary_sid_pid():`

### `create_query_player_stats_one_both_pid():`
### `create_query_player_stats_two_both_pid():`
### `create_query_player_stats_three_both_pid():`
### `create_query_player_stats_primary_both_pid():`
### `create_query_player_stats_one_both_above_pid():`
### `create_query_player_stats_two_both_above_pid():`
### `create_query_player_stats_three_both_above_pid():`

### `create_query_player_stats_one_both_tid_pid():`
### `create_query_player_stats_two_both_tid_pid():`
### `create_query_player_stats_three_both_tid_pid():`
### `create_query_player_stats_primary_both_tid_pid():`
### `create_query_player_stats_one_both_above_tid_pid():`
### `create_query_player_stats_two_both_above_tid_pid():`
### `create_query_player_stats_three_both_above_tid_pid():`

### `create_query_player_stats_one_both_sid_pid():`
### `create_query_player_stats_two_both_sid_pid():`
### `create_query_player_stats_three_both_sid_pid():`
### `create_query_player_stats_primary_both_sid_pid():`
### `create_player_stats_query():`
### `drop_query_player_stats_one_pid():`
### `drop_query_player_stats_two_pid():`
### `drop_query_player_stats_three_pid():`
### `drop_query_player_stats_primary_pid():`
### `drop_query_player_stats_one_above_pid():`
### `drop_query_player_stats_two_above_pid():`
### `drop_query_player_stats_three_above_pid():`

### `drop_query_player_stats_one_tid_pid():`
### `drop_query_player_stats_two_tid_pid():`
### `drop_query_player_stats_three_tid_pid():`
### `drop_query_player_stats_primary_tid_pid():`
### `drop_query_player_stats_one_above_tid_pid():`
### `drop_query_player_stats_two_above_tid_pid():`
### `drop_query_player_stats_three_above_tid_pid():`

### `drop_query_player_stats_one_sid_pid():`
### `drop_query_player_stats_two_sid_pid():`
### `drop_query_player_stats_three_sid_pid():`
### `drop_query_player_stats_primary_sid_pid():`

### `drop_query_player_stats_one_both_pid():`
### `drop_query_player_stats_two_both_pid():`
### `drop_query_player_stats_three_both_pid():`
### `drop_query_player_stats_primary_both_pid():`
### `drop_query_player_stats_one_both_above_pid():`
### `drop_query_player_stats_two_both_above_pid():`
### `drop_query_player_stats_three_both_above_pid():`

### `drop_query_player_stats_one_both_tid_pid():`
### `drop_query_player_stats_two_both_tid_pid():`
### `drop_query_player_stats_three_both_tid_pid():`
### `drop_query_player_stats_primary_both_tid_pid():`
### `drop_query_player_stats_one_both_above_tid_pid():`
### `drop_query_player_stats_two_both_above_tid_pid():`
### `drop_query_player_stats_three_both_above_tid_pid():`

### `drop_query_player_stats_one_both_sid_pid():`
### `drop_query_player_stats_two_both_sid_pid():`
### `drop_query_player_stats_three_both_sid_pid():`
### `drop_query_player_stats_primary_both_sid_pid():`
### `drop_player_stats_query():`

### <font color='red'>Import the Functions from Query_Player_Stats.py</font>

In [18]:
# Output

In [19]:
# Output

In [20]:
# Output

In [21]:
# Output

## Query_Player_Advanced.py
### `create_query_all_player_advanced_pid():`
### `create_query_all_player_advanced_sid_pid():`
### `create_query_all_player_advanced_tid_pid():`
### `create_query_all_player_advanced_pname():`
### `create_query_all_player_advanced_pname_sid():`
### `create_query_all_player_advanced_pname_tid():`

### `create_query_all_player_advanced_both_pid():`
### `create_query_all_player_advanced_both_sid_pid():`
### `create_query_all_player_advanced_both_tid_pid():`
### `create_query_all_player_advanced_both_pname():`
### `create_query_all_player_advanced_both_pname_sid():`
### `create_query_all_player_advanced_both_pname_tid():`
### `create_player_advanced_query():`
### `drop_query_all_player_advanced_pid():`
### `drop_query_all_player_advanced_sid_pid():`
### `drop_query_all_player_advanced_tid_pid():`
### `drop_query_all_player_advanced_pname():`
### `drop_query_all_player_advanced_pname_sid():`
### `drop_query_all_player_advanced_pname_tid():`

### `drop_query_all_player_advanced_both_pid():`
### `drop_query_all_player_advanced_both_sid_pid():`
### `drop_query_all_player_advanced_both_tid_pid():`
### `drop_query_all_player_advanced_both_pname():`
### `drop_query_all_player_advanced_both_pname_sid():`
### `drop_query_all_player_advanced_both_pname_tid():`
### `drop_player_advanced_query():`

### <font color='red'>Import the Functions from Query_Player_Advanced.py</font>

In [22]:
# Output

In [23]:
# Output

In [24]:
# Output

In [25]:
# Output

## Query_Player_Per_Game.py
### `create_query_all_player_per_game_pid():`

### `create_query_all_player_per_game_sid_pid():`

### `create_query_all_player_per_game_tid_pid():`

### `create_query_all_player_per_game_pname():`

### `create_query_all_player_per_game_pname_sid():`

### `create_query_all_player_per_game_pname_tid():`

### `create_query_all_player_per_game_both_pid():`

### `create_query_all_player_per_game_both_sid_pid():`

### `create_query_all_player_per_game_both_tid_pid():`

### `create_query_all_player_per_game_both_pname():`

### `create_query_all_player_per_game_both_pname_sid():`

### `create_query_all_player_per_game_both_pname_tid():`

### `create_player_per_game_query():`

### `drop_query_all_player_per_game_pid():`

### `drop_query_all_player_per_game_sid_pid():`

### `drop_query_all_player_per_game_tid_pid():`

### `drop_query_all_player_per_game_pname():`

### `drop_query_all_player_per_game_pname_sid():`

### `drop_query_all_player_per_game_pname_tid():`

### `drop_query_all_player_per_game_both_pid():`

### `drop_query_all_player_per_game_both_sid_pid():`

### `drop_query_all_player_per_game_both_tid_pid():`

### `drop_query_all_player_per_game_both_pname():`

### `drop_query_all_player_per_game_both_pname_sid():`

### `drop_query_all_player_per_game_both_pname_tid():`

### `drop_player_per_game_query():`

### <font color='red'>Import the Functions from Query_Player_Per_Game.py</font>

In [26]:
# Output

In [27]:
# Output

In [28]:
# Output

In [29]:
# Output

## Query_Player_Per_Minute.py
### `create_query_all_player_per_minute_pid():`

### `create_query_all_player_per_minute_sid_pid():`

### `create_query_all_player_per_minute_tid_pid():`

### `create_query_all_player_per_minute_pname():`

### `create_query_all_player_per_minute_pname_sid():`

### `create_query_all_player_per_minute_pname_tid():`

### `create_query_all_player_per_minute_both_pid():`

### `create_query_all_player_per_minute_both_sid_pid():`

### `create_query_all_player_per_minute_both_tid_pid():`

### `create_query_all_player_per_minute_both_pname():`

### `create_query_all_player_per_minute_both_pname_sid():`

### `create_query_all_player_per_minute_both_pname_tid():`

### `create_player_per_minute_query():`

### `drop_query_all_player_per_minute_pid():`

### `drop_query_all_player_per_minute_sid_pid():`

### `drop_query_all_player_per_minute_tid_pid():`

### `drop_query_all_player_per_minute_pname():`

### `drop_query_all_player_per_minute_pname_sid():`

### `drop_query_all_player_per_minute_pname_tid():`

### `drop_query_all_player_per_minute_both_pid():`

### `drop_query_all_player_per_minute_both_sid_pid():`

### `drop_query_all_player_per_minute_both_tid_pid():`

### `drop_query_all_player_per_minute_both_pname():`

### `drop_query_all_player_per_minute_both_pname_sid():`

### `drop_query_all_player_per_minute_both_pname_tid():`

### `drop_player_per_minute_query():`

### <font color='red'>Import the Functions from Query_Player_Per_Minute.py</font>

In [30]:
# Output

In [31]:
# Output

In [32]:
# Output

In [33]:
# Output

## Query_Player_Totals.py
### `create_query_all_player_totals_pid():`

### `create_query_all_player_totals_sid_pid():`

### `create_query_all_player_totals_tid_pid():`

### `create_query_all_player_totals_pname():`

### `create_query_all_player_totals_pname_sid():`

### `create_query_all_player_totals_pname_tid():`

### `create_query_all_player_totals_both_pid():`

### `create_query_all_player_totals_both_sid_pid():`

### `create_query_all_player_totals_both_tid_pid():`

### `create_query_all_player_totals_both_pname():`

### `create_query_all_player_totals_both_pname_sid():`

### `create_query_all_player_totals_both_pname_tid():`

### `create_player_totals_query():`

### `drop_query_all_player_totals_pid():`

### `drop_query_all_player_totals_sid_pid():`

### `drop_query_all_player_totals_tid_pid():`

### `drop_query_all_player_totals_pname():`

### `drop_query_all_player_totals_pname_sid():`

### `drop_query_all_player_totals_pname_tid():`

### `drop_query_all_player_totals_both_pid():`

### `drop_query_all_player_totals_both_sid_pid():`

### `drop_query_all_player_totals_both_tid_pid():`

### `drop_query_all_player_totals_both_pname():`

### `drop_query_all_player_totals_both_pname_sid():`

### `drop_query_all_player_totals_both_pname_tid():`

### `drop_player_totals_query():`

### <font color='red'>Import the Functions from Query_Player_Totals.py</font>

In [34]:
# Output

In [35]:
# Output

In [36]:
# Output

In [37]:
# Output

##  <font color='blue'> Player Career Stats Queries</font>

## Query_Player_Career_Stats.py
### `create_query_player_career_stats_one_pid():`

### `create_query_player_career_stats_two_pid():`

### `create_query_player_career_stats_three_pid():`

### `create_query_player_career_stats_primary_pid():`

### `create_query_player_career_stats_one_both_pid():`

### `create_query_player_career_stats_two_both_pid():`

### `create_query_player_career_stats_three_both_pid():`

### `create_query_player_career_stats_primary_both_pid():`

### `create_player_career_stats_query():`

### `drop_query_player_career_stats_one_pid():`

### `drop_query_player_career_stats_two_pid():`

### `drop_query_player_career_stats_three_pid():`

### `drop_query_player_career_stats_primary_pid():`

### `drop_query_player_career_stats_one_both_pid():`

### `drop_query_player_career_stats_two_both_pid():`

### `drop_query_player_career_stats_three_both_pid():`

### `drop_query_player_career_stats_primary_both_pid():`

### `drop_player_career_stats_query():

### <font color='red'>Import the Functions from Query_Player_Career_Stats.py</font>

In [38]:
# Output

In [39]:
# Output

In [40]:
# Output

In [41]:
# Output

## Query_Player_Career_Advanced.py
### `create_query_player_career_advanced_pid():`

### `create_query_player_career_advanced_pname():`

### `create_query_player_career_advanced_both_pid():`

### `create_query_player_career_advanced_both_pname():`

### `create_player_career_advanced_query():`

### `drop_query_player_career_advanced_pid():`

### `drop_query_player_career_advanced_pname():`

### `drop_query_player_career_advanced_both_pid():`

### `drop_query_player_career_advanced_both_pname():`

### `drop_player_career_advanced_query():`

### <font color='red'>Import the Functions from Query_Player_Career_Advanced.py</font>

In [42]:
# Output

In [43]:
# Output

In [44]:
# Output

In [45]:
# Output

## Query_Player_Career_Per_Game.py
### `create_query_player_career_per_game_pid():`

### `create_query_player_career_per_game_pname():`

### `create_query_player_career_per_game_both_pid():`

### `create_query_player_career_per_game_both_pname():`

### `create_player_career_per_game_query():`

### `drop_query_player_career_per_game_pid():`

### `drop_query_player_career_per_game_pname():`

### `drop_query_player_career_per_game_both_pid():`

### `drop_query_player_career_per_game_both_pname():`

### `drop_player_career_per_game_query():`

### <font color='red'>Import the Functions from Query_Player_Career_Per_Game.py</font>

In [46]:
# Output

In [47]:
# Output

In [48]:
# Output

In [49]:
# Output

## Query_Player_Career_Per_Minute.py
### `create_player_career_per_minute_query():`

### `create_query_player_career_per_minute_pid():`

### `create_query_player_career_per_minute_pname():`

### `create_query_player_career_per_minute_both_pid():`

### `create_query_player_career_per_minute_both_pname():`

### `drop_query_player_career_per_minute_pid():`

### `drop_query_player_career_per_minute_pname():`

### `drop_query_player_career_per_minute_both_pid():`

### `drop_query_player_career_per_minute_both_pname():`

### `drop_player_career_per_minute_query():`

### <font color='red'>Import the Functions from Query_Player_Career_Per_Minute.py</font>

In [50]:
# Output

In [51]:
# Output

In [52]:
# Output

In [53]:
# Output

## Query_Player_Career_Per_Poss.py
### `create_query_player_career_per_poss_pid():`

### `create_query_player_career_per_poss_pname():`

### `create_query_player_career_per_poss_both_pid():`

### `create_query_player_career_per_poss_both_pname():`

### `create_player_career_per_poss_query():`

### `drop_query_player_career_per_poss_pid():`

### `drop_query_player_career_per_poss_pname():`

### `drop_query_player_career_per_poss_both_pid():`

### `drop_query_player_career_per_poss_both_pname():`

### `drop_player_career_per_poss_query():`

### <font color='red'>Import the Functions from Query_Player_Career_Per_Poss.py</font>

In [54]:
# Output

In [55]:
# Output

In [56]:
# Output

In [57]:
# Output

## Query_Player_Career_Totals.py
### `create_query_player_career_totals_pid():`

### `create_query_player_career_totals_pname():`

### `create_query_player_career_totals_both_pid():`

### `create_query_player_career_totals_both_pname():`

### `create_player_career_totals_query():`

### `drop_query_player_career_totals_pid():`

### `drop_query_player_career_totals_pname():`

### `drop_query_player_career_totals_both_pid():`

### `drop_query_player_career_totals_both_pname():`

### `drop_player_career_totals_query():`

### <font color='red'>Import the Functions from Query_Player_Career_Totals.py</font>

In [58]:
# Output

In [59]:
# Output

In [60]:
# Output

In [61]:
# Output

# /Queries_Test

## Query_Team_Test.py

## Query_Player_Test.py

## Query_Conference_Standings_Test.py

## Query_Roster_Test.py

## Query_Team_Stats_Test.py

## Query_Team_Advanced_Test.py

## Query_Team_Misc_Test.py

## Query_Team_Per_Game_Test.py

## Query_Team_Per_Poss_Test.py

## Query_Team_Totals_Test.py

## Query_Player_Stats_Test.py

## Query_Player_Advanced_Test.py

## Query_Player_Per_Game_Test.py

## Query_Player_Per_Minute_Test.py

## Query_Player_Per_Poss_Test.py

## Query_Player_Totals_Test.py

## Query_Player_Career_Stats_Test.py

## Query_Player_Career_Advanced_Test.py

## Query_Player_Career_Per_Game_Test.py

## Query_Player_Career_Per_Minute_Test.py

## Query_Player_Career_Per_Poss_Test.py

## Query_Player_Career_Totals_Test.py

# <font color='red'> SQL Scripts  </font>

## Create_Database.sql

## Create_Table.sql

## Drop_Table.sql

## Drop_Table_Procedure.sql

## Queries_Insert.sql

## Test_Insert.sql

## Truncate_Table_Procedure.sql